<h1> <%= @titre %> </h1>

<%= form_for(@message) do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>
<div class="descriptionNormal">

         <div class="field" style="display:none">
                <%= f.label t('mess.par1') %><br>
                <%= f.select :coloc_id, options_for_select([[@coloc.nom, @coloc.id]]) %>
        </div>

	 <div class="field" style="display:none">
                <%= f.label "Privé ?" %><br>
                <%= f.check_box :private %>
        </div>


        <div class="field">
		<% if @message.private == 0 %>                 
			<%= t 'mess.par2' %> <span class="cam1"><%= @coloc.nom %>.</span>
		<% else %>
			<%= t 'mess.priv1' %>  <strong> <%= t 'mess.priv2' %>. </strong> <%= t 'mess.priv3' %> <span class="cam1"><%= @coloc.nom %>.</span>
			<br> <i><%= t 'mess.priv4' %>  <span class="cam1"><%= @coloc.nom %>.</span><%= t 'mess.priv5' %>  </i>
		<% end %>
        </div>

	<%= t 'mess.par3' %> <br/>

        <div class="field">
                <%= f.text_area(:content, :class => 'textarea') %>
        </div>

        <div class="actions">
		<%= f.submit t('expense.save'), :id => "btnColocCreate"%>
        </div>

<% end %>
</div>
