<h1> <%= @titre %> </h1>

<%= form_for(@message) do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

         <div class="field" style="display:none">
                <%= f.label "Colocation" %><br>
                <%= f.select :coloc_id, options_for_select([[@coloc.nom, @coloc.id]]) %>
        </div>

	 <div class="field" style="display:none">
                <%= f.label "Privé ?" %><br>
                <%= f.check_box :private %>
        </div>


        <div class="field">
		<% if @message.private == 0 %>                 
			<span> Nouveau message pour </span>
			la colocation <strong><%= @coloc.nom %></strong>.
		<% else %>
			<span> Nouveau message <strong> privé </strong> pour </span>
			la colocation <strong><%= @coloc.nom %></strong>.
			<br> <i> Attention, seuls les membres de <%= @coloc.nom %> pourront voir le message. </i>
		<% end %>
        </div>

        <div class="field">
                <%= f.label "Quoi de neuf ?" %><br>
                <%= f.text_area(:content, :class => 'textarea') %>
        </div>

        <div class="actions">
                <%= f.submit "Enregistrer" %>
        </div>

<% end %>
