  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <%= link_to "<b>Camouloc</b>".html_safe, root_path %>
      </div>
	  

      <div class="register-box-body">
        <p class="login-box-msg"><%= t "login.createuserscaption" %> </p>

        <% flash.each do |type, content| %>
            <% if content.respond_to?('each') 
                content.each do |item| %>
                    <%= render 'layouts/alert', 
                        type: type,
                        content: item %>
                <% end %>
            <% else %>
                <%= render 'layouts/alert', 
                        type: type,
                        content: content %>
            <% end %>

        <% end %>

        <br>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><%= t "login.roommatesfor" %> <strong> <%= @coloc.nom %> </strong> </div>
          <!-- List group -->
          <ul id="roommates_list" class="list-group">
            <% @coloc.users.reverse_each do |u| %> 
                <li class="list-group-item" id="roommate-<%= u.id %>"><strong><%= u.nom %> </strong> - <i> <%= u.email %> </i>
                <% if u.id != @min_user_id %>
                    <span class='pull-right'>
                        <button class='btn btn-xs btn-danger' onclick='removeUser(<%= u.id %>)'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </span>                
                <% end %>
                </li>
            <% end %>
          </ul>
          <div class="panel-footer">
          <%= form_for @additional_user, :html => { "data-toggle" => "validator", :id => "additionaluserform" } do |f| %>
			    <span class="help-block"><%= t "login.roommatedetails" %></span>
                <div class="form-group has-feedback">
	                <%= f.text_field :nom, :id => "roommatename", :class => "form-control", :placeholder => t("login.roommatename"), :required => true %>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
			        <div class="help-block with-errors"></div>
                </div><!-- /input-group -->	
                <div class="form-group has-feedback">
	                <%= f.email_field :email, :id => "roommateemail", :class => "form-control", :placeholder => "Email", :required => false, "data-minlength" => "6", 
						            "data-remote" => "/verifyuser", :name => "email", "data-remote-error" => "A user with this email already exists" %>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				<span class="help-block"><%= t "login.emailnotmandatory" %></span>
			        <div class="help-block with-errors"></div>
                </div><!-- /input-group -->	
                <%= f.submit t("login.addaroommate"), :class => "btn btn-success btn-block btn-flat"%>	      
           <% end %>
          </div>
        </div>
        
        <%= link_to t("login.iamdone"), @coloc, :id => "validation_link", :class => "btn btn-primary btn-block btn-flat disabled" %>

      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
	
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "validator.min" %>
    <script>
	  	$('#additionaluserform').validator();
		
		if ($("#roommates_list li").length > 1) {
			$("#validation_link").removeClass("disabled");
		};

        $("#additionaluserform").submit(function (e) {
            e.preventDefault(); 
            $.ajax({
                url: "/addroommate?email="+$("#roommateemail").val() + "&user_id=<%= @user.id%>&name=" + $("#roommatename").val() + "&secret=<%= @coloc.secret %>",
				success: function(data, status) {
				},
				error: function(result, error) {
					location.reload();
				}
            });
        });   
        
        var removeUser = function(id) {
            // Call server to remove user
            $.ajax({
                url: "/removeroommate?id="+id + "&secret=<%= @coloc.secret %>",
                success: function(data, status) {
                    // At this stage, user has been removed from server. 
                    // Removing it from client
                    $("#roommate-"+id).remove();
					if ($("#roommates_list li").length <= 1) {
						$("#validation_link").addClass("disabled");
					};
                },
                error: function(result, error) {
                    console.log("An error occurred when trying to delete user. Error: + " + error);
                }
            });
        }
    </script>
  </body>



