<h1>Identification</h1>
<div class="descriptionNormal">

	<%= t 'session.par1' %> <span class="cam1"> Camouloc. </span> ?<%= t 'session.par2' %>  
	<a href="/auth/facebook?inscr=0" class="connectFacebook"><%= t 'session.par3' %></a> <%= t 'session.par4' %>  <span class="cam1"> Camouloc. </span> !
	<br/>
	<br/>
	<%= form_for(:session, :url => sessions_path) do |f| %>
		<div class="field">
			<%= t 'inscrs.par6' %> <br />
			<%= f.email_field :email, :class => "colocCreate" %>
		</div>
		<div class="field">
			<%= t 'session.par5' %> <br />
			<%= f.password_field :password, :class => "colocCreate" %>
		</div>
		<br/>
		<div class="actions">
			<%= f.submit t('session.logIn'), :id => "btnColocCreate" %>
		</div>
	<% end %>

	<p> <%= t 'session.par6' %><%= link_to t('session.signIn'), new_coloc_path %> <br>
	<%= link_to t('session.pass'), new_password_reset_path %></p>



</div>
