 <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <%= link_to "<b>Camouloc</b>".html_safe, root_path %>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Log into your <strong> Camouloc </strong> account</p>

        <% flash.each do |type, content| %>
            <% if content.respond_to?('each') 
                content.each do |item| %>
                    <%= render 'layouts/alert', 
                        type: type,
                        content: item %>
                <% end %>
            <% else %>
                <%= render 'layouts/alert', 
                        type: type,
                        content: content %>
            <% end %>

        <% end %>

	    <%= form_for :session, :url => sessions_path, :html => { "data-toggle" => "validator", :id => "loginform" } do |f| %>
          <div class="form-group has-feedback">
		    <%= f.email_field :email, :class => "form-control", :placeHolder => "Email", :required => true %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			<div class="help-block with-errors"></div>
          </div>
          <div class="form-group has-feedback">
		    <%= f.password_field :password, :class => "form-control", :placeHolder => "Password", :required => true %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
			<div class="help-block with-errors"></div>
          </div>
          <div class="row">
            <div class="col-xs-0">
            </div><!-- /.col -->
            <div class="col-xs-12">
			  <%= f.submit "Sign in", :id => "btnColocCreate", :class => "btn btn-primary btn-block btn-flat" %>
            </div><!-- /.col -->
            <div class="col-xs-0">
            </div><!-- /.col -->
          </div>
	    <% end %>

        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using Facebook</a>
          <a href="/auth/google_oauth2" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div><!-- /.social-auth-links -->

        <%= link_to "I forgot my password", new_password_reset_path %> <br>
        <%= link_to "Not a member?", signup_path, :class => "text-center" %>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "validator.min" %>
    <script>
	  	$('#loginform').validator();
    </script>
  </body>
