<h1>Identification</h1>
<div class="signup_button4 authfaceb">
<a href="/auth/facebook" style="color:white">
 <strong> Login with Facebook </strong>
</a>

</div>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "eMail" %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "S'identifier" %>
  </div>
<% end %>

<p>Pas encore inscrit ? <%= link_to "S'inscrire !", new_coloc_path %> <br>
<%= link_to "Mot de passe oublié ?", new_password_reset_path %></p>



