  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <%= link_to "<b>Camouloc</b>".html_safe, root_path %>
      </div>
	  

      <div class="register-box-body">
        <p class="login-box-msg">You're account has been created. <br> We just need some additional information to create your profile </p>

        <% flash.each do |type, content| %>
            <% if content.respond_to?('each') 
                content.each do |item| %>
                    <%= render 'layouts/alert', 
                        type: type,
                        content: item %>
                <% end %>
            <% else %>
                <%= render 'layouts/alert', 
                        type: type,
                        content: content %>
            <% end %>

        <% end %>

		<%= form_for @coloc, :html => { "data-toggle" => "validator", :id => "mainform" } do |f| %>
		
		
          <div class="form-group has-feedback">
			<%= f.text_field :nom, :class => "form-control", :placeholder => "Give your flatshare a name", :required => true, "data-minlength" => "3", 
							"data-remote" => "/verifycoloc", :name => "nom", "data-remote-error" => "This flatshare name already exists" %>
            <span class="glyphicon glyphicon-heart form-control-feedback"></span>
			<div class="help-block with-errors"></div>
          </div>		
		
          <%= fields_for @user do |u| %>
		  
		  <%= u.hidden_field :user_id, :value => @user.id %>

          <div class="form-group has-feedback">
			<%= u.password_field :password, :class => "form-control", :placeholder => "Enter a password", :required => true, "data-minlength" => "8", :id => "inputPassword" %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
			<div class="help-block with-errors"></div>
          </div>
          <div class="form-group has-feedback">
			<%= u.password_field :password_confirmation, :class => "form-control", :placeholder => "Retype your password", :required => true, "data-match" => "#inputPassword" %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
			<span class="help-block">Minimum of 8 characters</span>
			<div class="help-block with-errors"></div>
          </div>	
		  <% end %>

          <%= f.submit "Register", :class => "btn btn-primary btn-block btn-flat"%>
		<% end %>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
	
	    <%= javascript_include_tag "jquery.min", "bootstrap.min", "validator.min" %>
    <script>
	  	$('#mainform').validator();
    </script>
  </body>
