 <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <%= link_to "<b>Camouloc</b>".html_safe, root_path %>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg"><%= t("login.forgotpasswordcaption").html_safe %></p>

        <% flash.each do |type, content| %>
            <% if content.respond_to?('each') 
                content.each do |item| %>
                    <%= render 'layouts/alert', 
                        type: type,
                        content: item %>
                <% end %>
            <% else %>
                <%= render 'layouts/alert', 
                        type: type,
                        content: content %>
            <% end %>

        <% end %>

	    <%= form_tag password_resets_path, :method => :post, "data-toggle" => "validator", :id => "passwordresetform"  do %>
          <div class="form-group has-feedback">
		    <%= email_field_tag :email, params[:email], :class => "form-control", :placeHolder => "Email", :required => true %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			<div class="help-block with-errors"></div>
          </div>
          <div class="row">
            <div class="col-xs-12">
			  <%= submit_tag t("login.resetpassword"), :class => "btn btn-primary btn-block btn-flat" %>
            </div><!-- /.col -->
          </div>
	    <% end %>
        <br>
        <%= link_to t("login.returntologin"), login_path, :class => "text-center" %>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "validator.min" %>
    <script>
	  	$('#passwordresetform').validator();
    </script>
  </body>
