<h1> <%= t 'auth.title' %> </h1>

<div class="descriptionNormal">
<% if @authentifications %>
  <% unless @authentifications.empty? %>
	  <p><strong><%= t 'auth.par1' %> </strong></p>
    <div class="authentifications">
      <% for authentification in @authentifications %>
        <div class="authentification">
		<img src="facebook_64.png" width="32" height="32" alt="facebook">
          <div class="provider"><%= authentification.provider.titleize %></div>
          <div class="uid">Code auth : <%= authentification.uid %></div>
	  <a onclick="return confirm('<%= t "auth.par2" %>')"> <%= button_to t('auth.par3'), authentification, :method => :delete  %> </a>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>	<%= t 'auth.par4' %></strong> <br>
	<i>	<%= t 'auth.par5' %> </i></p>
<% else %>
  <p><strong>	<%= t 'auth.par6' %></strong></p>
<% end %>

<a href=<%= @faceb_url%> class="auth_provider" style="color:white">
	<img src="facebook_64.png" width="64" height="64" alt="facebook">
  Facebook
</a>
<div class="clear"></div>
</div>
