<h1> <%= @titre %> </h1>

<script>
	$("f").validate({
		errorClass: "my-error-class",
		validClass: "my-valid-class",
		rules: {
			password: {
				required: true,
				minlength: 6
			}
		}
	});
</script>

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">changer</a>
</div>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :nom, "Nom" %><br />
		<%= f.text_field :nom %>
	</div>
	<div class="field">
		<%= f.label :email, "eMail" %><br />
		<%= f.email_field :email %>
	</div>

	<div class="field" name="password">
		<%= f.label :password, "Mot de passe" %><br />
		<%= f.password_field :password %> <i> (Obligatoire)  </i> 
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation mot de passe" %><br />
		<%= f.password_field :password_confirmation %><i> (Obligatoire)  </i>
	</div>
	<div class="actions">
		<%= f.submit "Actualiser" %>
	</div>


<% end %>

