<h1> <%= t 'usr.title' %> </h1>

<script>
	$("f").validate({
		errorClass: "my-error-class",
		validClass: "my-valid-class",
		rules: {
			password: {
				required: true,
				minlength: 6
			}
		}
	});
</script>

<% if @user.has_image %>
		<%= image_tag (@user.image) , :size => "100x100", :class => "imgframe" %>
	<% else %>
		<%= gravatar_for @user %>
	<% end %> 

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="descriptionNormal">
	<div class="field">
	<%= t 'usr.par1' %> <br />
		<%= f.text_field :nom, :class => "colocCreate" %>
	</div>
	<br/>
	<div class="field">
			<%= t 'usr.par2' %> <br />
		<%= f.email_field :email , :class => "colocCreate"%>
	</div>
	<br/>

	<div class="field" name="password">
		<%= t 'usr.par3' %><br />
		<%= f.password_field :password, :class => "colocCreate" %> <i>	<%= t 'usr.par6' %>  </i> 
	</div>
	<div class="field">
			<%= t 'usr.par4' %><br />
		<%= f.password_field :password_confirmation, :class => "colocCreate" %><i>	<%= t 'usr.par6' %> </i>
	</div>
	<br/>

	<div class="field">
		<%= t 'usr.par5' %> <span class="cam1"> Camouloc. </span> <%= t 'gen.by' %>  email ?<br/>
		<%= f.check_box :mail %>
		<%= f.label t('inscrs.par11')  %><br />
	</div>
	<br/>

	<div class="actions">
		<%= f.submit t('col.par2'), :id =>"btnColocCreate"%>
	</div>

<% end %>
</div>
