<h1> <%= @titre %>  </h1>

<%= will_paginate %>

<div class="descriptionNormal">
<br>
<ul class="users">
	<% @users.each do |user| %>
		<li>
		<% if user.has_image %>
			<%= image_tag (user.image) , :size => "40x40", :style => "box-shadow: 0px 2px 5px #1c1a19;" %>
		<% else %>
		<%= gravatar_for user, :size => 40 %> 
		<% end %> 
                <%= link_to user.nom, user %>, membre de <%= link_to Coloc.find(user.coloc_id).nom, Coloc.find(user.coloc_id) %>.
		<% if signed_in? and current_user.admin? %>
                        <li onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?')"> <%= button_to "Suppr", user, :method => :delete  %> </li>
		<% end %> 
		</li>
	<% end %>
</ul>
</div>

<%= will_paginate %>
