<h1> <%= @titre %> </h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, :size => 30 %>
      <%= link_to user.nom, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
