<h1> <%= t 'list.title2' %> </h1>
<script type="text/javascript">
	/*!
	 * Create an array of word objects, each representing a word in the cloud
	 */
var word_array = [
<% @usersAll.each do |u| %>
	<% @udep = u.depenses.size + u.trois_depenses.size + u.quatre_depenses.size + u.expenses.size %>
	{text: "<%= u.nom %>", weight: "<%= @udep %>", link: "<%= user_url(u) %>"},
<% end %>	
];

$(function() {
		// When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
		$("#example").jQCloud(word_array, {
delayedMode: true,
});
		});
</script>
<br>
<div class="descriptionCloud">
<div id="example" style="width: 100%; height: 500px;"></div>

<% if signed_in? and current_user.admin? %>
<%= will_paginate %>

<br>
<ul class="users">
	<% @users.each do |user| %>
		<li>
		<% if user.has_image %>
			<%= image_tag (user.image) , :size => "40x40", :style => "box-shadow: 0px 2px 5px #1c1a19;" %>
		<% else %>
		<%= small_gravatar_for user, :size => 40 %> 
		<% end %> 
		<%= link_to user.nom, user %>, <%= t 'list.par4' %><%= link_to Coloc.find(user.coloc_id).nom, Coloc.find(user.coloc_id) %>.
			<li onclick="return confirm('<%= t "list.par5" %>')"> <%= button_to "Suppr", user, :method => :delete  %> </li>
		</li>
		<br/>
	<% end %>
</ul>
</div>

<%= will_paginate %>
<% end %> 
