<h1> <%= @titre %> </h1>
<p>Remplissez le formulaire suivant pour ajouter l'utilisateur. Veuillez laisser les champs préremplis tels quels. </p>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :nom %><br />
		<%= f.text_field :nom %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
                <%= f.email_field :email %>
	</div>
	<div class="field">
		<%= f.label :coloc_id %><br />
                <%= f.select :coloc_id, options_for_select([[ @coloc.nom ,  @coloc.id ]]) %>
	</div>

	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Inscription" %>
	</div>
<% end %>

