<ol class="progtrckr" data-progtrckr-steps="3">
	<li class="progtrckr-done"><%= t 'inscr.menu1' %></li><!--
	--><li class="progtrckr-done"><%= t 'inscr.menu2' %></li><!--
	<% if @coloc.users.size == 0 %>
		--><li class="progtrckr-todo"><%= t 'inscr.menu3' %></li>
	<% else %>
		--><li class="progtrckr-done"><%= t 'inscr.menu3' %></li>
	<% end %>
</ol>


<h1> <%= t 'inscr.title' %> </h1>
<script>
	$(document).ready(function(){
		var more_visibility = false;
		$("p.more_details1").hide();
		$("a.more_details_button1").click(function(event){
			$("p.more_details1").slideToggle('fast');
			if(!more_visibility) {
				$("a.more_details_button1").html("(Moins)");
				more_visibility = true;
				}else{
				$("a.more_details_button1").html("(*)");
				more_visibility = false;
			}
			event.preventDefault();
		});

		<% if @coloc.users.size > 0 %>
		$("input#captchavalider").trigger('click');
		<% end %>
	});

</script>





<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="descriptionNormal">


		<% if @coloc.users.size == 0 %>
			<%= t 'inscrs.par1' %>  <span class="cam1"> <%= @coloc.nom %>. </span> <%= t 'inscrs.par2' %> <span class="cam1"> Camouloc. </span> <%= t 'inscrs.par3' %><a href="/auth/facebook?inscr=1&colocId=<%=@coloc.id%>" class="connectFacebook"><strong> Facebook.</strong></a>
		<% else %>
		<%= t 'inscrs.par4' %><strong> <%= link_to "Camouloc.", @coloc %> </strong> ! 	
		<% end %>


		<br/> <br/>
		<div class="field">
			<%= t 'inscrs.par5' %> <br/>
			<%= f.text_field :nom, :class => "colocCreate" %>
		</div>
		<div class="field">
			<%= t 'inscrs.par6' %> <br/>
			<%= f.email_field :email, :class => "colocCreate"  %>
		</div>
		<div class="field" style="display:none">
			<%= f.label :coloc_id %><br />
			<%= f.select :coloc_id, options_for_select([[ @coloc.nom ,  @coloc.id ]]) %>
		</div>

		<div class="field">
		<%= t 'inscrs.par7' %>	<br/>
			<%= f.password_field :password, :class => "colocCreate"  %>
		</div>
		<div class="field">
		<%= t 'inscrs.par8' %>	<br/>
			<%= f.password_field :password_confirmation, :class => "colocCreate"  %>
		</div>
		<div class="field">
			<%= t 'inscrs.par9' %> <span class="cam1"> Camouloc. </span> <%= t 'gen.by' %> email 
			<a href="#" class="more_details_button1">?</a>
			<p class="more_details1">
			<i><%= t 'inscrs.par10' %> </i>
			</p> <br/>
			<%= f.check_box :mail %>
			<%= f.label t('inscrs.par11') %>
		</div>

		<div class="actions">
			<%= f.submit t('inscr.par7'), :id => "btnColocCreate"%>
			<% if @coloc.users.size > 0 %>
				<input type='button' name='osx' value='V' class='osx demo signup_button4' id="captchavalider"/>
			<% end %>
		</div>
	<% end %>
</div>


<!-- modal content -->
<div id="osx-modal-content">
	<div id="osx-modal-title"><%= t 'inscrs.par12' %></div>
	<div id="osx-modal-data">
	<%= t 'inscrs.par13' %>	 <span class="cam1"> <%= @coloc.nom %> </span>
		<%= t 'inscrs.par14' %> <span class="cam1"> <%= @coloc.users.size %> </span><%= t 'inscrs.par15' %>  :
		<ul>
			<% @coloc.users.each do |user| %>
				<li> <span class="cam1"> <%= user.nom %> </span></li>
			<% end %>
		</ul>	
		<%= t 'inscrs.par16' %> <span class="cam1"> <%= @coloc.nom %> </span><%= t 'inscrs.par17' %> 
		<span class="cam1"> Camouloc. </span> !
		<br/>
		<br/>
		<strong>
			<%= link_to t('inscrs.par18') , "#", :id => "btnColocCreate", :class => "simplemodal-close"%>
			<%= link_to t('inscrs.par19') , @coloc, :id => "btnColocCreate" %>
		</strong>
		<br/>
		<br/>
		<br/>
	</div>
</div>


