
<div class="descriptionNormal">
	<% if @user.has_image %>
		<%= image_tag (@user.image) , :size => "100x100", :class => "imgframeProfil" %>
	<% else %>
		<%= gravatar_for @user %>
	<% end %> 


	<br/>
	<br/>
	<br/>
	<h1> <%= t 'user.par1' %>  <span class="cam1"> <%= @user.nom %>. </h1>

		<p>
		<%= t 'user.par2' %> <span class="cam1"> <%= @user.nom %>. </span>
		<%= t 'user.par3' %> <span class="cam1"><%= @coloc.nom %></span>, <span class="cam1"> <%= @user.nom %>. </span>
		<%= t 'user.par4' %>  <%= @user.created_at.strftime("%d %b. %Y") %> <%= t 'user.par5' %> 
		<span class="cam1"><%= @nbrdep %> </span>
		<%= t 'user.par6' %> 
		</p>
		<p>
		<%= t 'coloc.par8' %> 
		<ul class="profil">
			<li>
			<%= t 'user.par7' %><span class="cam1"> <%= @user.nom %>. </span> <%= t 'gen.by' %> <a href="mailto:<%= @user.email %>">email</a>.
			</li>
			<% if signed_in? and current_user == @user %>
			<% if  current_user.authentifications.empty?  %>
				<li>
				<%= t 'user.par8' %><%= link_to "Facebook", @faceb_url, :class => "connectFacebook"%> <%= t 'user.par9' %>
				</li>
			<% else %>
				<li>
				<%= t 'user.par10' %><%= link_to t('user.par11'), authentifications_url%>
				</li>
			<% end %>
			<% end %>
			<% if signed_in? and (@user.id == current_user.id or current_user.admin?) %>
				<li>
				<%= link_to t('user.par12') , edit_user_path(@user) %> <%= t 'user.par13' %>
				</li>
			<% end %>



		</ul>
		</p>
		<br/>


		<p>
		<% if @nbrdep == 0 %>
			<%= t 'user.nodep' %>	
		<% else %>
			<% if signed_in? and (current_user.coloc_id == @user.coloc_id or current_user.admin?)%>
				<h3>  <%= t 'user.listdep' %> </h3>
				<table class="depenses black">
					<tr>
						<td> Source </td>
						<% @colocataires.each do |colocataires| %>
							<td> <%= colocataires.nom %> </td>
						<% end %>
						<td> <%= t 'tabbord.monthAmo' %>  </td>
						<td> <%= t 'tabbord.monthRea' %> </td>
						<td> Date </td>
						<% if signed_in? and (current_user.id == @user.id or current_user.admin?) %>
						<td> </td>
						<% end %>
					</tr>
					<% if @colocataires.size == 2 %>
						<% @liste1.reverse.each do |depenses|%>
							<tr class="depenses">
								<td >	<%= User.find(depenses.user_id).nom %> </td>
								<td>	<%= depenses.destinataire_part %>  </td>
								<td>	<%= depenses.destinataire_part2 %>  </td>
								<td>	<%= depenses.montant %> <%= t 'number.currency.format.unit' %>
 </td>
								<td>	<%= depenses.raison %> </td>
								<td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
								<% if signed_in? and (current_user.id == @user.id or current_user.admin?) %>
									<td onclick="return confirm('<%= t "tabbord.confirm" %>' )"> <%= button_to "Suppr", depenses, :method => :delete  %> </td>
								<% end %>
							</tr>
						<% end %>
					<% elsif @colocataires.size == 3 %>
						<% @liste2.reverse.each do |depenses|%>
							<tr class="depenses">
								<td >	<%= User.find(depenses.user_id).nom %> </td>
								<td>	<%= depenses.destinataire_part %>  </td>
								<td>	<%= depenses.destinataire_part2 %>  </td>
								<td>	<%= depenses.destinataire_part3 %>  </td>
								<td>	<%= depenses.montant %><%= t 'number.currency.format.unit' %>
  </td>
								<td>	<%= depenses.raison %> </td>
								<td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
								<% if signed_in? and current_user.id == @user.id %>
									<td onclick="return confirm('<%= t "tabbord.confirm" %>')"> <%= button_to "Suppr", depenses, :method => :delete  %> </td>
								<% end %>
							</tr>
						<% end %>
					<% elsif @colocataires.size == 4 %>
						<% @liste3.reverse.each do |depenses|%>
							<tr class="depenses">
								<td >	<%= User.find(depenses.user_id).nom %> </td>
								<td>	<%= depenses.destinataire_part %>  </td>
								<td>	<%= depenses.destinataire_part2 %>  </td>
								<td>	<%= depenses.destinataire_part3 %>  </td>
								<td>	<%= depenses.destinataire_part4 %>  </td>
								<td>	<%= depenses.montant %> <%= t 'number.currency.format.unit' %>
 </td>
								<td>	<%= depenses.raison %> </td>
								<td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
								<% if signed_in? and current_user.id == @user.id %>
									<td onclick="return confirm('<%= t "tabbord.confirm" %>')"> <%= button_to "Suppr", depenses, :method => :delete  %> </td>
								<% end %>
							</tr>
						<% end %>
					<% elsif @colocataires.size > 4 %>
						<% @expenses.reverse.each do |exp| %>
							<tr class="depenses">
								<td>	<%= User.find(exp.user_id).nom %> </td>
								<% exp.parties.each do |p| %> 
									<% if p.last == "0"%>
										<td> non </td>
									<% else %>
										<td> oui </td>
									<% end %>
								<% end %>
								<td>	<%= exp.montant %> <%= t 'number.currency.format.unit' %>
 </td>
								<td>	<%= exp.raison %> </td>
								<td>	<%= exp.created_at.strftime("%d %b. %Y") %> </td>
								<% if signed_in? and current_user.id == @user.id %>
									<td onclick="return confirm('<%= t "tabbord.confirm" %>')"> <%= button_to "Suppr", exp, :method => :delete  %> </td>
								<% end %>
							</tr>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% else %>
			<%= t 'user.par15' %> 
		<% end %>
	<% end %>
	</p>
</table>
</div>
