<table class="profile" summary="Information profil">
        <table>
                <tr>
                        <td class="main">
                                <h1>
					<% if @user.has_image %>
						<%= image_tag (@user.image) , :size => "85x85", :style => "box-shadow: 0px 2px 5px #1c1a19;" %>
					<% else %>
						<%= gravatar_for @user %>
					<% end %> 
                                        <%= @user.nom %>
                                </h1>
                        </td>
                        <td class="sidebar">
                                <strong>Nom</strong> <%= @user.nom %><br />
                                <strong>Membre de</strong>  <%= link_to @coloc.nom, coloc_path(@coloc)  %> <br />
                                <strong>email</strong>  <a href="mailto:<%= @user.email %>"><%= @user.email %></a> </br>
                                <strong>Dépenses</strong>  <%= @nbrdep %> </br>
                                <strong>Compte crée le </strong>  <%= @user.created_at.strftime("%d %b. %Y") %>

                        </td>
                </tr>
        </table>
        <p>
        <% if @nbrdep == 0 %>
                Aucune dépense à répertorier.
        <% else %>
                <% if signed_in? and (current_user.coloc_id == @user.coloc_id or current_user.admin?)%>
                        <strong>  Liste des dépenses de l'utilisateur : </strong>
                        <table class="depenses">
                                <tr>
                                        <td> Source </td>
                                        <% @colocataires.each do |colocataires| %>
                                                <td> <%= colocataires.nom %> </td>
                                        <% end %>
                                        <td> Montant </td>
                                        <td> Raison </td>
                                        <td> Date </td>
                                </tr>
                                <% if @colocataires.size == 2 %>
                                        <% @liste1.reverse.each do |depenses|%>
                                                <tr class="depenses">
                                                        <td >	<%= User.find(depenses.user_id).nom %> </td>
                                                        <td>	<%= depenses.destinataire_part %>  </td>
                                                        <td>	<%= depenses.destinataire_part2 %>  </td>
                                                        <td>	<%= depenses.montant %> € </td>
                                                        <td>	<%= depenses.raison %> </td>
                                                        <td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
                                                        <% if signed_in? and (current_user.id == @user.id or current_user.admin?) %>
                                                                <td onclick="return confirm('Etes-vous sûr de vouloir supprimer la dépense ?')"> <%= button_to "Suppr", depenses, :method => :delete  %> </td>
                                                        <% end %>
                                                </tr>
                                        <% end %>
                                <% elsif @colocataires.size == 3 %>
                                        <% @liste2.reverse.each do |depenses|%>
                                                <tr class="depenses">
                                                        <td >	<%= User.find(depenses.user_id).nom %> </td>
                                                        <td>	<%= depenses.destinataire_part %>  </td>
                                                        <td>	<%= depenses.destinataire_part2 %>  </td>
                                                        <td>	<%= depenses.destinataire_part3 %>  </td>
                                                        <td>	<%= depenses.montant %> € </td>
                                                        <td>	<%= depenses.raison %> </td>
                                                        <td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
                                                        <% if signed_in? and current_user.id == @user.id %>
                                                                <td onclick="return confirm('Etes-vous sûr de vouloir supprimer la dépense ?')"> <%= button_to "Suppr", depenses, :method => :delete  %> </td>
                                                        <% end %>
                                                </tr>
                                        <% end %>
                                <% elsif @colocataires.size == 4 %>
                                        <% @liste3.reverse.each do |depenses|%>
                                                <tr class="depenses">
                                                        <td >	<%= User.find(depenses.user_id).nom %> </td>
                                                        <td>	<%= depenses.destinataire_part %>  </td>
                                                        <td>	<%= depenses.destinataire_part2 %>  </td>
                                                        <td>	<%= depenses.destinataire_part3 %>  </td>
                                                        <td>	<%= depenses.destinataire_part4 %>  </td>
                                                        <td>	<%= depenses.montant %> € </td>
                                                        <td>	<%= depenses.raison %> </td>
                                                        <td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
                                                        <% if signed_in? and current_user.id == @user.id %>
                                                                <td onclick="return confirm('Etes-vous sûr de vouloir supprimer la dépense ?')"> <%= button_to "Suppr", depenses, :method => :delete  %> </td>
                                                        <% end %>
                                                </tr>
                                        <% end %>
                                <% elsif @colocataires.size > 4 %>
                              <% @expenses.reverse.each do |exp| %>
                                 <tr class="depenses">
                     	<td>	<%= User.find(exp.user_id).nom %> </td>
                                    <% exp.parties.each do |p| %> 
                                       <% if p.last == "0"%>
                                          <td> non </td>
                                       <% else %>
                                          <td> oui </td>
                                       <% end %>
                                    <% end %>
                                    <td>	<%= exp.montant %> € </td>
                     					<td>	<%= exp.raison %> </td>
                     					<td>	<%= exp.created_at.strftime("%d %b. %Y") %> </td>
                                   <% if signed_in? and current_user.id == @user.id %>
                                           <td onclick="return confirm('Etes-vous sûr de vouloir supprimer la dépense ?')"> <%= button_to "Suppr", exp, :method => :delete  %> </td>
                                   <% end %>
                                                </tr>
                                   </tr>
                                 <% end %>
                                <% end %>
                        </table>
                <% else %>
                        Vous devez appartenir à la colocation pour voir les dépenses de cet utilisateur.
                <% end %>
        <% end %>
        <br>	
        <% if signed_in? and (@user.id == current_user.id or current_user.admin?) %>
                <%= link_to "Editer le profil", edit_user_path(@user), :class=>"signup_button5" %> 
        <% end %>

	<% if signed_in? and current_user.authentifications.empty? %>
			<div class="signup_button4">
				<%= link_to "Lier mon Facebook", @faceb_url , :style=>"color:white"%>
			</div>
	<% else %>
		<%= link_to "Liaisons du compte", authentifications_url, :class=>"signup_button5"%>
	<% end %>
	<br>
        </p>
</table>
