<section class="content-header">
  <h1>
    User Profile
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <%= image_tag(@user.image, :alt => "User profile picture", :class => "profile-user-img img-responsive img-circle") %>
          <h3 class="profile-username text-center"><%= @user.nom %></h3>
          <p class="text-muted text-center">Member since <%= @user.created_at.strftime('%b %e') %></p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Flatshare</b> <span class="pull-right"><%= @coloc.nom %></span>
            </li>
            <li class="list-group-item">
              <b>Roommates</b> <span class="pull-right"><%= @coloc.users.count %></span>
            </li>
          </ul>

          <%= mail_to @user.email, ("<i class='fa fa-envelope'></i> Contact <b>" + @user.nom + "</b>").html_safe, :class => "btn btn-primary btn-block" %>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Flatshare</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-home margin-r-5"></i> Name</strong>
          <p class="text-muted"><%= @coloc.nom %></p>
		
		  <hr>
		
          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
          <p class="text-muted"><i>Not specified</i></p>

          <hr>

          <strong><i class="fa fa-calendar margin-r-5"></i> Creation date </strong>
          <p class="text-muted"><%= @coloc.created_at.strftime('%b %e, %Y') %></p>		  
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">Timeline</h3>
        </div><!-- /.box-header -->	
        <div class="box-body">
            <!-- The timeline -->
            <ul class="timeline timeline-inverse">
              <!-- timeline time label -->
			  <% if @most_recent_expense %>
              <li class="time-label">
                <span class="bg-blue">
                  <%= @most_recent_expense.created_at.strftime("%e %b. %Y") %>
                </span>
              </li>
			  <% end %>
              <!-- /.timeline-label -->
              <!-- timeline item -->
			  <% @expenses.reverse_each do |e| %>
                <i class="fa fa-eur bg-blue"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> <%= e.created_at.strftime('%b %e, %Y') %></span>
                  <h3 class="timeline-header"><%= link_to @user.nom, @user %> created a new expense</h3>
                  <div class="timeline-body">
                    Describe content of expense here.
                  </div>		
                  <div class="timeline-footer">
                    <a class="btn btn-danger btn-xs">Delete?</a>
                  </div>
				</div>
			  <% end %>
              <!-- timeline time label -->
              <li class="time-label">
                <span class="bg-blue">
                  <%= @most_recent_colocataire.created_at.strftime("%e %b. %Y") %>
                </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <!-- timeline item -->
			  <% @colocataires.reverse_each do |c| %>
				  <li>
					<i class="fa fa-user-plus bg-blue"></i>
					<div class="timeline-item">
					  <span class="time"><i class="fa fa-clock-o"></i> <%= c.created_at.strftime("%e %b. %Y") %></span>
					  <h3 class="timeline-header no-border"><%= link_to c.nom, c %> has been added to <%= @coloc.nom %></h3>
					</div>
				  </li>			  
			  <% end %>
			  <li>
				<i class="fa fa-home bg-blue"></i>
				<div class="timeline-item">
				  <span class="time"><i class="fa fa-clock-o"></i> <%= @coloc.created_at.strftime("%e %b. %Y") %></span>
				  <h3 class="timeline-header no-border"><%= link_to @coloc.nom, @coloc %> has been created! </h3>
				</div>
			  </li>	
              <!-- END timeline item -->
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
          </div><!-- /.box body-->
	  </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section><!-- /.content -->
