<section class="content-header">
  <h1>
    User Profile
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <%= image_tag(@user.image, :alt => "User profile picture", :class => "profile-user-img img-responsive img-circle") %>
          <h3 class="profile-username text-center"><%= @user.nom %></h3>
          <p class="text-muted text-center">Member since <%= @user.created_at.strftime('%b %e') %></p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Flatshare</b> <span class="pull-right"><%= link_to @coloc.nom, @coloc %></span>
            </li>
            <li class="list-group-item">
              <b>Roommates</b> <span class="pull-right"><%= @coloc.users.count %></span>
            </li>
          </ul>

          <%= mail_to @user.email, ("<i class='fa fa-envelope'></i> Contact <b>" + @user.nom + "</b>").html_safe, :class => "btn btn-primary btn-block" %>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Flatshare</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-home margin-r-5"></i> Name</strong>
          <p class="text-muted"><%= @coloc.nom %></p>
		
		  <hr>
		
          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
          <p class="text-muted"><i>Not specified</i></p>

          <hr>

          <strong><i class="fa fa-calendar margin-r-5"></i> Creation date </strong>
          <p class="text-muted"><%= @coloc.created_at.strftime('%b %e, %Y') %></p>		  
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">Timeline</h3>
        </div><!-- /.box-header -->	
        <div class="box-body">
            <!-- The timeline -->
            <ul class="timeline timeline-inverse">
              <!-- timeline time label -->
			  <% if @most_recent_expense %>
              <li class="time-label">
                <span class="bg-blue">
                  <%= @most_recent_expense.created_at.strftime("%e %b. %Y") %>
                </span>
              </li>
			  <% end %>
              <!-- /.timeline-label -->
              <!-- timeline item -->
			  <% @expenses.reverse_each do |e| %>
				<li>
                <i class="fa fa-money bg-blue"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> <%= e.created_at.strftime('%b %e, %Y') %></span>
                  <h3 class="timeline-header"><%= link_to User.find(e.user_id).nom, User.find(e.user_id) %> created a new expense</h3>
                  <div class="timeline-body">
                    <strong>How much?</strong> <%= number_to_currency(e.montant, precision: 2) %> &ndash;				  
                    <strong>Why?</strong> <%= e.raison %> &ndash;
                    <strong>Who is involved?</strong> <%= e.roommates_involved %> 
				  <div class="timeline-footer pull-right">
						<button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#myModal" 
							onclick="populateRemoveModal(<%= e.id %>, '<%= User.find(e.user_id).nom %>','<%= number_to_currency(e.montant, precision: 2) %>','<%= e.raison %>', '<%= e.roommates_involved %>', '<%= url_for e %>');">
							<span class='glyphicon glyphicon-trash'></span>
						</button>						
					</div>
                  </div>		
				</div>
				</li>
			  <% end %>
              <!-- timeline time label -->
              <li class="time-label">
                <span class="bg-blue">
                  <%= @most_recent_colocataire.created_at.strftime("%e %b. %Y") %>
                </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <!-- timeline item -->
			  <% @roommates.reverse_each do |c| %>
				  <li>
					<i class="fa fa-user-plus bg-blue"></i>
					<div class="timeline-item">
					  <span class="time"><i class="fa fa-clock-o"></i> <%= c.created_at.strftime("%e %b. %Y") %></span>
					  <h3 class="timeline-header no-border"><%= link_to c.nom, c %> has been added to <%= @coloc.nom %></h3>
					</div>
				  </li>			  
			  <% end %>
			  <li>
				<i class="fa fa-home bg-blue"></i>
				<div class="timeline-item">
				  <span class="time"><i class="fa fa-clock-o"></i> <%= @coloc.created_at.strftime("%e %b. %Y") %></span>
				  <h3 class="timeline-header no-border"><%= link_to @coloc.nom, @coloc %> has been created! </h3>
				</div>
			  </li>	
              <!-- END timeline item -->
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
          </div><!-- /.box body-->
	  </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section><!-- /.content -->


<!-- Modal -->
<div class="modal fade modal-default" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning: Removing an expense</h4>
      </div>
      <div class="modal-body">
        You are about to remove the following expense, please confirm your choice: <br><br>

		<div class="table-responsive">
			<table class="table no-margin">
			  <thead>
				<tr>
				  <th>Author</th>
				  <th>Reason</th>
				  <th>Roommates involved</th>
				  <th>Value</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td><span id="expense_author"></span></td>
				  <td><span id="expense_reason"></span></td>
				  <td><span id="expense_roommatesinvolved"></span></td>
				  <td><span id="expense_amount"></span></td>
				</tr>
			  </tbody>
			</table>
		  </div>
		<span id="expense_id" style="display:none"></span>
		<span id="expense_classDestroyUrl" style="display:none"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="deleteExpense();">Remove expense</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

	var populateRemoveModal = function(id, author, amount, reason, roommates_involved, classDestroyUrl) {
		$("#expense_id").html(id);
		$("#expense_author").html(author);
		$("#expense_amount").html(amount);
		$("#expense_reason").html(reason);
		$("#expense_roommatesinvolved").html(roommates_involved);
		$("#expense_classDestroyUrl").html(classDestroyUrl);
	}
	
	var deleteExpense = function() {
		/* Pas utile si on peut changer le lien en une form delete */
		
		var id = $("#expense_id").html();
		var classDestroyUrl = $("#expense_classDestroyUrl").html();
		var redirectUrl = "/";
		
		console.log(classDestroyUrl);
		
		$.ajax({
		  method: "DELETE",
		  url: classDestroyUrl
    	})
	}
</script>