    <div class="col-md-6">
            <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Latest expenses</h3>
                      <div class="box-tools pull-right">
                        <span class="label label-primary"><%= @expenses.count %> expenses in total</span>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <div class="table-responsive">
                        <table class="table no-margin">
                          <thead>
                            <tr>
                              <th>Author</th>
                              <th>Reason</th>
                              <th>Roommates involved</th>
                              <th>Value</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @expenses.each do |e| %>
                            <tr>
                              <td><%= link_to User.find(e.user_id).nom, User.find(e.user_id) %></td>
                              <td><%= e.raison %></td>                              
                              <td><%= e.roommates_involved %></td>
                              <td><%= number_to_currency(e.montant) %></td>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                    </div><!-- /.box-footer -->
		  </div>
	</div>
  </div>
</section>


<%= javascript_include_tag "jquery.caret.min", "jquery.atwho.min", "select2.min" %>
<script type="text/javascript">
	var $multi = $("#roommates").select2({
		  placeholder: "Select your roommates"	
    });
	
	var multiOptions = []
	$("#roommates > option").each(function() {
		multiOptions.push({
			text: this.text,
			val: this.value,
			enabled: false
		});
	});

	$('#tweet').atwho({
		at: "@",
		data:<%= raw @colocataires.map{|c| c.nom}.to_json %>
	}).atwho({
	   at: "#",
		data:<%= raw @expenses.last(5).map{|e| e.raison}.to_json %>
	});
	
	$("#expense_author").change(function() {
		$("#expense_author_view").text($("#expense_author option:selected").text());
	});
	
	$multi.on("select2:select", function(e) {
		var inputVal = $("#tweet").val();
		if (inputVal.indexOf(e.params.data.text) == -1) {
			$("#tweet").val(inputVal += " @" + e.params.data.text);
		}			
	});

	$multi.on("select2:unselect", function(e) {
		var inputVal = $("#tweet").val();
		if (inputVal.indexOf(e.params.data.text) > -1) {
			$("#tweet").val(inputVal.replace("@" + e.params.data.text, ""));
		}	
	});

	var extractFromRegexp = function(value, regexp, target, global) {
		global = global || false;
		var splitHash = value.match(regexp);
		if (splitHash != null) {
			if (global) {
				splitHash = splitHash.map(function(e) {
					return e.trim().substring(1);
				});
				multiOptions.forEach(function(elem) {
					if (splitHash.indexOf(elem.text) > -1) {
						if (!elem.enabled) { elem.enabled = true; }
					} else {	
						if (elem.enabled) { elem.enabled = false; }
					}
				});
				var selectedRoommates = multiOptions.map(function(elem) {
					if (elem.enabled) { return elem.val; } else { return ""; }
				});
				$multi.val(selectedRoommates.filter(function(elem) { return elem != ""})).trigger("change");
			} else {
				$("#"+target).text(splitHash[2]);
			}
			return true;
		} else {
			return false;   
		}
	}
	
	$('#expenseForm').validator({
		custom: {
			roommates: function($el) { 
				var value = $("#tweet").val();
				return extractFromRegexp(value, /(^|\W)(@[a-z\d][\w-]*)/ig, "roommates", true);
			}, 
			reason: function($el) { 
				var value = $("#tweet").val();
				return extractFromRegexp(value, /(^|\W)(#[a-z\d][\w-]*)/i, "reason");
			} , 
			amount: function($el) { 
				var value = $("#tweet").val();
				return extractFromRegexp(value, /(^|\W)([a-z\d][\w-]*€)/i, "amount");
			}
		},
		errors: {
			roommates: 'Mention your roommates using "@"',
			reason: 'Specify a reason with "#"',
			amount: 'Specify the expense amount with "€"'
		}
	});
	


</script>
