


<%= render 'layouts/slider' %>


<div class="description"> 

	<br/>
	<p>
	<span class="cam1"> Camouloc. </span> <%= t 'home.par1' %> <span class="cam1"> <%= t 'home.par2' %> </span> 
	<%= t 'home.par3' %> <span class="cam1"> <%= t 'home.par4' %> </span> 
	</p>
	<p>
	<%= t 'home.par5' %> <span class="cam1"> Camouloc. </span> <%= t 'home.par6' %> <span class="cam1"> <%= t 'home.par2' %> </span> 
	<%= t 'home.par7' %>  <span class="cam1"> Camouloc. </span> !	
	</p>


	<%= link_to t('home.signin'),  signup_path , :class => "signup_button" if !signed_in? %>
	<br/>

</div>
