
<h1> <%= t 'part.title' %> </h1>

<div class="descriptionNormal">
 	<%= t 'part.par1' %><br><br>
1. <strong><%= link_to "CaptchMe", "http://captchme.com", :target=>"_blank" %> </strong><br> <dd> <i> <%= t 'part.par2' %></i> </dd> <br>
2. <strong> <%= link_to "ENSIMAG", "http://ensimag.grenoble-inp.fr/", :target=>"_blank" %> </strong><br> <dd> <i><%= t 'part.par3' %> </i> </dd> <br>

<br>
<table>
        <tr>
                <td class="sidebarPartners">
                <strong><%= t 'part.par4' %>  <%= mail_to  "arthur.verger@gmail.com", t('part.par5'), :subject =>"[CAMOULOC] Demande de partenariat" %> </strong>
        </td>
</tr>
</table>
</div>
