<h1> <%= t 'expense.title' %> </h1>

<%= form_for(@depense) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="descriptionNormal">

<%= render 'shared/depenses_global', :object => f %>

<% end %>


<!-- modal content -->
<div id="osx-modal-content">
<div id="osx-modal-title"><%= t 'captcha' %></div>
<div id="osx-modal-data">
<iframe src="http://captcha.olympe.in" scrolling="no" class="icaptcha" id="icaptcha"></iframe>
</div>
</div>

</div>


