<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Rapport de nouvelle dépense, colocation <%= @coloc.nom %></h3>
    <p> L'utilisateur <%= @user_source.nom %> a rajouté une nouvelle dépense. </br>
	<li> Montant : <%= @depense.montant %> </li>
	<li> Raison : <%= @depense.raison %> </li>
	<li> Source : <%= @user_source.nom %> </li>
        <li> Répartition des parts : </li>
        <% if @depense.destinataire_part == 1 %>
                <dd> <%= @colocataires[0].nom %> : oui </br>
        <% else %>
                <dd><%= @colocataires[0].nom %> : non </br>
        <% end %>

        <% if @depense.destinataire_part2 == 1 %>
                <dd><%= @colocataires[1].nom %> : oui </br>
        <% else %>
                <dd><%= @colocataires[1].nom %> : non </br>
        <% end %>
        
        <% if @nbrcoloc > 2 %>
                <% if @depense.destinataire_part3 == 1 %>
                        <dd><%= @colocataires[2].nom %> : oui </br>
                <% else %>
                        <dd><%= @colocataires[2].nom %> : non </br>
                <% end %>
                 <% if @nbrcoloc > 3 %>
                        <% if @depense.destinataire_part4 == 1 %>
                                <dd><%= @colocataires[3].nom %> : oui </br>
                        <% else %>
                                <dd><%= @colocataires[3].nom %> : non </br>
                        <% end %>
                <% end %>
        <% end %>

        </p>
        
        <p> Rendez vous sur <%= @url %> pour vérifier les comptes de la colocation. </p>
        <p> Merci de nous faire confiance et bonne journée !</p>
  </body>
</html>
