<h1> <%= @titre %> <%= @user.nom %> (I/II)</h1>

<p> Choisissez le nombre de colocataires impliqués dans la dépense : </p>
<%= link_to "1 colocataire", new_depense_path(@depense) %> </br>
<%= link_to "2 colocataires", new_trois_depense_path(@depense) %> </br>
<% if @nbrcoloc > 2 %>
        <%= link_to "3 colocataires", new_quatre_depense_path(@depense) %> </br>
        <% if @nbrcoloc > 3 %>
                4 colocataires </br>
        <% end %>
<% end %>

