<h1> <%= @titre %> </h1>

<%= form_for(@coloc) do |f| %>
	<div class="field">
		<%= f.label :nom %><br />
		<%= f.text_field :nom %>
	</div>
	<div class="field">
		<%= f.label "Apparaître dans le palmarès ?" %><br />
		<%= f.check_box :palm %>
	</div>

	<div class="actions">
		<%= f.submit "Actualiser" %>
	</div>

<% end %>

<a onclick="return confirm('Etes-vous sûr de vouloir supprimer la colocation ?')"> <%= delete_coloc? %> </a>
