<h1> <%= @titre %> </h1>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">


        $(function () {
                        var chart;
                        $(document).ready(function() {
                                chart = new Highcharts.Chart({
chart: {
renderTo: 'container',
type: 'column'
},
title: {
text: 'Meilleures colocations'
},
xAxis: {
categories: [
<% @colocs2.reverse.first(5).each do |colocs, i| %>
         <% break if i == 5 %>
        <% if colocs.palm == 1 %>
                '<%= link_to colocs.nom, colocs %>',
        <% end %>
<% end %>
]
},
yAxis: {
min: 0,
title: {
text: 'Chiffre d\'affaires (€)'
}
},
tooltip: {
formatter: function() {
                   return ''+
                           this.x +': '+ this.y +' €';
           }
         },
plotOptions: {
column: {
pointPadding: 0.2,
              borderWidth: 0
        }
             },
series: [{
name: 'Colocations',
      data: [ <% @colocs2.reverse.first(5).each do |colocs, i| %>
                         <% break if i == 2; %>
                      <% if colocs.palm == 1 %>
                              <%= colocs.ca %>,
                                        <% end %>
                                        <% end %> ],
                                        showInLegend: false,
                                        color: '#980000',
                                        dataLabels: {
enabled: true,
         color: 'white',
         align: 'center',
         x: -3,
         y: 12,
         formatter: function() {
                 return Math.round(this.y) + ' €';
         }
                                        }
        }]
});
});

});

</script>

<script src="highcharts.js"></script>
<script src="exporting.js"></script>
<div id="container" class="container2" ></div>
<div style="height: 15px;"></div>

<%= will_paginate %>

<table class="pretty">
        <tr style="background-color:white;">
                <th><font color=black> <%= sortable "nom" %> </font></th>
                <th><font color=black> <%= sortable  "ca", "Chiffre d'Affaires" %></font></th>
                <th><font color=black> <%= sortable  "created_at", "Date de création"%> </font></th>
        </tr>


        <% @colocs.each do |colocs| %>
                                        <% if colocs.palm == 1 %>
                <tr style="background-color:white;">
                        <td> <font color=black> 
                                                <%= link_to colocs.nom, colocs %></font>
                                        <% if signed_in? and current_user.admin? %>
                                                <%= button_to "supprimer", colocs, :method => :delete, :confirm => "Etes-vous certain&nbsp;?",:title => "Supprimer #{colocs.nom}" %>
                                        <% end %> </td>
                                <td> <font color=black> <%= "%0.2f" % colocs.ca %> € </font> </td>
                                <td> <font color=black> <%= colocs.created_at.strftime("%d %b, %Y") %> </font> </td>
                        </tr>
                <% end %>
        <% end %>
</table>

<%= will_paginate %>
