<h1> <%= @titre %> </h1>

<%= will_paginate %>

<table class="pretty">
        <tr style="background-color:white;">
                <th><font color=black> <%= sortable "nom" %> </font></th>
                <th><font color=black> <%= sortable  "ca", "Chiffre d'Affaires" %></font></th>
                <th><font color=black> <%= sortable  "created_at", "Date de création"%> </font></th>
        </tr>


        <% @colocs.each do |colocs| %>
        <tr style="background-color:white;">
                <td> <font color=black> <%= link_to colocs.nom, colocs %></font>
                                <% if signed_in? and current_user.admin? %>
                                        <%= button_to "supprimer", colocs, :method => :delete, :confirm => "Etes-vous certain&nbsp;?",:title => "Supprimer #{colocs.nom}" %>
                                <% end %> </td>
                        <td> <font color=black> <%= "%0.2f" % colocs.ca %> € </font> </td>
                        <td> <font color=black> <%= colocs.created_at.strftime("%d %b, %Y") %> </font> </td>
                </tr>
        <% end %>
</table>

<%= will_paginate %>
