<h1> <%= t 'list.title' %>  </h1>

<br>

<div class="descriptionNormal">
<%= will_paginate %>
<ul class="colocs">
        <% @colocs.each do |coloc| %>
                <li>  <%= link_to coloc.nom, coloc %> <i> (
                <% if coloc.users.count < 2 %>
                        <%= coloc.users.count %> <%= t 'list.par1' %> ) 
                <% else %>
                        <%= coloc.users.count %> <%= t 'list.par2' %> )
                <% end %> 
                </i></li>
                <% if signed_in? and current_user.admin? %>
			<li onclick="return confirm('<%= t "list.par3" %>')"> <%= button_to "Suppr", coloc, :method => :delete  %> </li>
                <% end %>
        <% end %>
</ul>
</div>

<%= will_paginate %>
