<script>
	$(document).ready(function(){
		var more_visibility = false;
		$("p.more_details1").hide();
		$("a.more_details_button1").click(function(event){
			$("p.more_details1").slideToggle('fast');
			if(!more_visibility) {
				$("a.more_details_button1").html("Moins");
				more_visibility = true;
				}else{
				$("a.more_details_button1").html("?");
				more_visibility = false;
			}
			event.preventDefault();
		});
	});
</script>


<ol class="progtrckr" data-progtrckr-steps="3">
	<li class="progtrckr-done"><%= t 'inscr.menu1' %></li><!--
	--><li class="progtrckr-todo"><%= t 'inscr.menu2' %></li><!--
	--><li class="progtrckr-todo"><%= t 'inscr.menu3' %></li>
</ol>
<h1> <%= t 'inscr.title' %> </h1>

<div class="descriptionNormal">
<%= t 'inscr.par1' %> <span class="cam1"> Camouloc. </span><%= t 'inscr.par2' %>  <span class="cam1"><%= t 'home.par2' %> </span> ? 

	<%= form_for(@coloc) do |f| %>
		<div class="field">
			<%= f.text_field :nom, :class => "colocCreate" %>
		</div>
	<%= t 'inscr.par3' %>	<span class="cam1"><%= t 'inscr.par4' %> </span>  
		<a href="#" class="more_details_button1">?</a>
		<p class="more_details1">
		<i><%= t 'inscr.par5' %> </i>

		<div class="field">
			<%= f.check_box :palm %>
			<%= f.label t('inscr.par6')  %>
			</p>
		</div>

		<div class="actions">
			<%= f.submit t('inscr.par7'), :id => "btnColocCreate"%>
		</div>

	<% end %>
</div>
