<section class="content-header">
  <h1>
    <%= @coloc.nom.capitalize %>
  </h1>
</section>

<%= @arrayTot.inspect %>
<%= @arrayReimbursement.inspect %>

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3><%= @coloc.users.count %></h3>
              <p><%= t "db.roommatesregistered" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3><%= @expenses.count %></h3>
              <p><%= t "db.expensesreported" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-card"></i>
            </div>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3><%= number_to_currency(@coloc.ca, precision: 0) %></h3>
              <p><%= t "db.investedinthisflatshare" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>#<%= @coloc_ranking %><sup style="font-size: 20px"> <%= t "db.outof" %> <%= @total_coloc_count %></sup></h3>
              <p><%= t "db.globalranking" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-arrow-graph-up-right"></i>
            </div>
          </div>
        </div><!-- ./col -->
      </div>
      <div class="row"> 
        <div class="col-md-6">
        <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"><%= t "db.expensesdistribution" %></h3>
                  <div class="box-tools pull-right">
                <span class="label label-primary"><%= @coloc.users.count %> <%= t "db.roommates" %></span>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-8">
					  <span class="noexpense"> <%= t "db.graphunavailable" %></span>
                      <div class="chart-responsive">
                        <canvas id="pieChart" style="width: 100%; height: auto; margin:5% 10% 0;"></canvas>
                      </div><!-- ./chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                      <ul class="chart-legend clearfix">
                        <% @roommates.each do |u| %>
                        <li><i class="fa fa-circle-o text-<%= u.color[0] %>"></i> <%= u.nom %></li>
                        <% end %>
                      </ul>
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <% @roommates.each do |u| %>                    
                    <li>
                        <%= link_to (u.tot_html(@arrayTot[u.id]["tot"])).html_safe, u, :class => "users-list-name" %>
                    </li>
                    <% end %>
                  </ul>
                </div><!-- /.footer -->
              </div>
        <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"><%= t "db.howtoresetcounters" %></h3>
                  <div class="box-tools pull-right">
					<button class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#resetCountersModal"><i class='fa fa-envelope'></i> <%= t "db.share" %> </button>
                  </div>
                </div><!-- /.box-header -->
				<div class="box-body no-padding">
					<table class="table">
						<tbody><tr>
						  <th><%= t "db.transactionid" %></th>
						  <th>Description</th>
						</tr>
						<% @arrayReimbursement.each_with_index do |elem,i| %>
							<tr>
							  <td>Transaction #<%= i+1 %></td>
							  <td><strong><%= elem[0] %></strong> <%= t "db.gives" %> <span class="badge bg-green"><%= number_to_currency elem[1] %></span>
								<%= t "db.to" %> <strong><%= elem[2] %></strong>
							  </td>
							</tr>
						<% end %>
					  </tbody></table>				  
				</div>
              </div>
            <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%= t("db.recurringexpenses").html_safe %></h3>
                      <div class="box-tools pull-right">
                        <span class="label label-primary"><%= @auto_expenses.count %> <%= t "db.expensesintotal" %></span>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <div class="table-responsive">
                        <table class="table no-margin" id="recurringexpenseTable">
                          <thead>
                            <tr>
                              <th><%= t "db.author" %></th>
                              <th><%= t "db.reason" %></th>
                              <th>Date</th>
                              <th><%= t "db.roommatesinvolved" %></th>
                              <th><%= t "db.value" %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @auto_expenses.last(10).reverse_each do |e| %>
                            <tr>
                              <td><%= link_to User.find(e.user_id).nom, User.find(e.user_id) %></td>
                              <td><%= e.raison %></td>                              
                              <td><%= l e.created_at %></td>
                              <td><%= e.roommates_involved %></td>
                              <td><%= number_to_currency(e.montant) %></td>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <%= link_to t("db.viewallrecurringexpenses"), redirect_to_expense_screen_path(:id => @coloc.id), :class => "btn btn-sm btn-default btn-flat pull-right" %>
                    </div><!-- /.box-footer -->
                  </div>
              </div>
        <div class="col-md-6">
            <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%= t "db.expensesgraph" %></h3>
                      <div class="box-tools pull-right">
                        <span class="label label-primary"><%= @expenses.count %> <%= t "db.expensesintotal" %></span>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
						<div id="cont" class="container-fluid">
						  <div class="row">
							<div class="col-md-8">
								<span class="noexpense"> <%= t "db.graphunavailable" %></span>
								<div id="chart"></div>
							</div><!-- /.col -->
							<div class="col-md-4">
							  <ul class="chart-legend clearfix">
								<% @roommates.each do |u| %>
								<li><i class="fa fa-circle-o text-<%= u.color[0] %>"></i> <%= u.nom %></li>
								<% end %>
							  </ul>
							</div><!-- /.col -->
						  </div><!-- /.row -->
							<div class="row text-center">

							</div>
						</div>
                    </div><!-- /.box-body -->
			  </div>
			<div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"><%= t "db.expensesaccrosstime" %></h3>
                  <div class="box-tools pull-right">
                <span class="label label-primary"><%= t("db.showinglastexpenses", parameter: @params_lineChart[2]) %> </span>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
					  <span class="noexpense"> <%= t "db.graphunavailable" %></span>
                      <div class="chart-responsive">
                        <canvas id="lineChart" style="width: 80%; height: auto; margin:5% 10% 0;"></canvas>
                      </div><!-- ./chart-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                </div><!-- /.footer -->
              </div>
		</div>
      </div>
      <div class="row"> 
        <div class="col-md-12">
            <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%= t "db.latestexpenses" %></h3>
                      <div class="box-tools pull-right">
                        <span class="label label-primary"><%= @expenses.count %> <%= t "db.expensesintotal" %></span>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <div class="table-responsive">
                        <table class="table no-margin" id="expenseTable">
                          <thead>
                            <tr>
                              <th><%= t "db.author" %></th>
                              <th><%= t "db.reason" %></th>
                              <th>Date</th>
                              <th><%= t "db.roommatesinvolved" %></th>
                              <th><%= t "db.value" %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @expenses.last(10).reverse_each do |e| %>
                            <tr>
                              <td><%= link_to User.find(e.user_id).nom, User.find(e.user_id) %></td>
                              <td><%= e.raison %></td>                              
                              <td><%= l e.created_at %></td>
                              <td><%= e.roommates_involved %></td>
                              <td><%= number_to_currency(e.montant) %></td>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <%= link_to t("db.addanexpense"), redirect_to_expense_screen_path(:id => @coloc.id), :class => "btn btn-sm btn-primary btn-flat pull-left" %>
                      <%= link_to t("db.viewallexpenses"), redirect_to_expense_screen_path(:id => @coloc.id), :class => "btn btn-sm btn-default btn-flat pull-right" %>
                    </div><!-- /.box-footer -->
                  </div>
            </div>
      </div>
</section>
<script src="//d3js.org/d3.v3.min.js"></script>
<%= javascript_include_tag "d3.stretched.chord", "d3.layout.chord.sort" %>
<script type="text/javascript">
  //-------------
  //- PIE CHART -
  //-------------
  // Get context with jQuery - using jQuery's .get() method.
  var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
  var pieChart = new Chart(pieChartCanvas);
  var PieData = [
    <% @roommates.each do |u| %>
    {
      value: <%= u.get_tot_for_chart(@arrayTot) %>,
      color: "<%= u.color[1] %>",
      highlight: "<%= u.color[1] %>",
      label: "<%= u.nom %> "
    }
	<% unless u == @roommates.last %>,<% end %>
    <% end %>
  ];
  var pieOptions = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke: true,
    //String - The colour of each segment stroke
    segmentStrokeColor: "#fff",
    //Number - The width of each segment stroke
    segmentStrokeWidth: 1,
    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout: 0, // This is 0 for Pie charts
    //Number - Amount of animation steps
    animationSteps: 30,
    //String - Animation easing effect
    animationEasing: "easeOut",
    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate: true,
    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale: true,
    //Boolean - whether to make the chart responsive to window resizing
    responsive: true,
    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: false,
    //String - A legend template
    //String - A tooltip template
  };
  //Create pie or douhnut chart
  // You can switch between pie and douhnut using the method below.
  pieChart.Pie(PieData, pieOptions);
  //-----------------
  //- END PIE CHART -
  //-----------------

  //-------------
  //- LINE CHART -
  //-------------
  // Get context with jQuery - using jQuery's .get() method.
  var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
  var lineChart = new Chart(lineChartCanvas);
  var LineData = {
    labels: <%= raw @params_lineChart[0] %>,
    datasets: [
        {
            label: "Expenses by year",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgb(60,141,188)",
            pointColor: "rgb(60,141,188)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: <%= raw @params_lineChart[1] %>
        }
    ]
  };
  var lineOptions = {
	scaleBeginAtZero: true
  };
  //Create pie or douhnut chart
  // You can switch between pie and douhnut using the method below.
  lineChart.Line(LineData, lineOptions);
  //-----------------
  //- END LINE CHART -
  //-----------------
  	$("#expenseTable").DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": false,
          "autoWidth": false,
		  "pageLength": 15,
		  "language": {
			"info": <%= raw t("db.datatablepages").to_json %>,
			"oPaginate": {
				"sPrevious": 	<%= raw t("db.datatablepagesprevious").to_json %>,
				"sNext":     	<%= raw t("db.datatablepagesnext").to_json %>,
			},
			"sEmptyTable": <%= raw t("db.datatablenorecord").to_json %>
		  }
	});
  	$("#recurringexpenseTable").DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": false,
          "autoWidth": false,
		  "pageLength": 15,
		  "language": {
			"info": <%= raw t("db.datatablepages").to_json %>,
			"oPaginate": {
				"sPrevious": 	<%= raw t("db.datatablepagesprevious").to_json %>,
				"sNext":     	<%= raw t("db.datatablepagesnext").to_json %>,
			},
			"sEmptyTable": <%= raw t("db.datatablenorecord").to_json %>
		  }
	});	
	var Names = <%= raw @namesMatrix %>;
	var Colors = <%= raw @colorsMatrix %>;

	var respondents = <%= raw @params_chord %>, //Total number of respondents (i.e. the number that makes up the total group)
		emptyPerc = 0, //What % of the circle should become empty
		emptyStroke = 0; //Math.round(respondents*emptyPerc); 
	var matrix = <%= raw @expensesMatrix %>;

	if (respondents != 0) {
		$(".noexpense").hide();
	}
	
</script>
<%= javascript_include_tag "mainChord" %>
<script type="text/javascript">	

</script>


