<div class="descriptionNormal">


	<h1> Colocation <span class="cam1"> <%= @coloc.nom %>. </span> </h1>

	<p>
	<%= t 'coloc.par1' %> <span class="cam1"> <%= @coloc.nom %>. </span>
	 <%= t 'coloc.par2' %><span class="cam1"><%= @coloc.users.count %> </span> <%= t 'coloc.par3' %>. <br/>
	 <span class="cam1"> <%= @coloc.nom %>. </span> <%= t 'coloc.par4' %>  <%= @coloc.created_at.strftime("%d %b. %y") %>,
	<% if @coloc.palm == 1 %>
		<%= t 'coloc.par5' %><span class="cam1"> #<%= @colocs.reverse.index(@coloc) + 1 %> </span>
		<%= t 'coloc.par6' %> <span class="cam1" ><%= "%0.2f" % @coloc.ca %> <%= t 'number.currency.format.unit' %>
. </span> 
	<% else %>
		<%= t 'coloc.par7' %>
	<% end %>
	</p>
	<p>
	<%= t 'coloc.par8' %>
	<ul class="profil">
		<li>
		<%= t 'coloc.par9' %><%= link_to "public", new_message_path(:coloc_id => @coloc.id, :priv =>0) %> 
		<%= t 'gen.or' %>
		<%= link_to t('coloc.priv'), new_message_path(:coloc_id => @coloc.id, :priv =>1) %> 
		<%= t 'coloc.par10' %> <span class="cam1"> <%= @coloc.nom %>. </span>
		</li>
		<% if signed_in? and (current_user.coloc_id == @coloc.id or current_user.admin?) %> 
			<li> 
			<%= edit_coloc? %> <%= t 'coloc.par11' %>
			</li>
		<% end %>
		<% if signed_in? and (current_user.coloc_id == @coloc.id or current_user.admin?) %> 
			<% unless (@coloc.users.size == 2 and (@coloc.users[0].depenses.size != 0 or @coloc.users[1].depenses.size != 0)) or  
			(@coloc.users.size == 3 and (@coloc.users[0].trois_depenses.size != 0 or @coloc.users[1].trois_depenses.size != 0 or @coloc.users[2].trois_depenses.size != 0)) or
			(@coloc.users.size == 4 and (@coloc.users[0].quatre_depenses.size != 0 or @coloc.users[1].quatre_depenses.size != 0 or @coloc.users[2].quatre_depenses.size != 0 or @coloc.users[3].quatre_depenses.size != 0)) or
			(@coloc.users.size > 4 and @pleine == true)
		%>
		<li>
		<%= link_to t('coloc.add'), new_user_path(:coloc_id => @coloc.id) %> <%= t 'coloc.par12' %>
		</li>
	<% end %>
<% end %>
<% if @coloc.users.size == 0 %>
	<li>
	<%= link_to t('coloc.par13'), new_user_path(:coloc_id => @coloc.id) %> <%= t 'coloc.par14' %>
	</li>
<% end %>

	</ul>
	</p>
	<br/>


	<h3> 
		<%= t 'coloc.par15' %><span class="cam1"> <%= @coloc.nom %>. </span> <%= t 'coloc.par16' %>: <br/>
	</h3>
	<% if @coloc.users.size == 0 %>
		<%= t 'coloc.par16' %>
	<% else %> 
		<table class="tabbord black">
			<tr>
				<th> <strong> </strong> </th>
				<th> <strong> <%= t 'coloc.par18' %> </strong></th>
				<th> <strong> Email </strong></th>
			</tr>
			<% @liste.each do |users| %>
				<tr>  <td> 
						<% if users.has_image %>
							<%= image_tag (users.image) , :size => "60x60", :style => "box-shadow: 0px 2px 5px #1c1a19;" %>
						<% else %>
							<%= small_gravatar_for users, :size => 60 %> 
						<% end %> 
					</td>
					<td>     <font  align="top"> <%= liste_users(users) %> </font></td> <td> <%= mail_to users.email %> </td></tr>
			<% end %>
		</tr>
	</table>
<% end %>




<br>
<table class="microposts">
	<h3> <%= t 'coloc.par18b' %>  <span class="cam1"> <%= t 'coloc.par18t' %>. </span></h3>
	<% if @messagespubl.size == 0 %>
		<br><%= t 'coloc.par19' %>	
	<% else %>
		<% @messagespubl.each do |message| %>
			<tr>
				<td class="micropost">
					<span class="content"><strong> <%= message.content %></strong></span>
					<span class="timestamp">
						<%= t 'coloc.par20' %> <%= time_ago_in_words(message.created_at) %>, <%= link_to User.find(message.source_id).nom,  User.find(message.source_id)%> membre de <%= link_to Coloc.find(User.find(message.source_id).coloc_id).nom,  Coloc.find(User.find(message.source_id).coloc_id)%>. 
						<% if signed_in? and (current_user.admin? or current_user.id == message.source_id or current_user.coloc_id == @coloc.id) %>
							<span onclick="return confirm(<%= t 'coloc.par21' %>)"> <%= button_to "Suppr", message, :method => :delete  %> </span>
						<% end  %>

					</span>
				</td> 
			</tr>
		<% end %>
	<% end %>


</table>

<%= will_paginate @messagespubl %>

<br/>
<br/>
<% if signed_in? and current_user.coloc_id == @coloc.id %>
	<table class="microposts">
		<h3> <%= t 'coloc.par18b' %>  <span class="cam1"> <%= t 'coloc.par18q' %>. </span></h3>
		<% if @messagespriv.size == 0 %>
			<br>
		<%= t 'coloc.par19' %>	
		<% else %>
			<% @messagespriv.each do |message| %>
				<tr>
					<td class="micropost">
						<span class="content"><strong> <%= message.content %></strong></span>
						<span class="timestamp">
							<%= t 'coloc.par20' %> <%= time_ago_in_words(message.created_at) %>, <%= link_to User.find(message.source_id).nom,  User.find(message.source_id)%> membre de <%= link_to Coloc.find(User.find(message.source_id).coloc_id).nom,  Coloc.find(User.find(message.source_id).coloc_id)%>. 
							<% if signed_in? and (current_user.admin? or current_user.id == message.source_id or current_user.coloc_id == @coloc.id) %>
								<span onclick="return confirm(<%= t 'coloc.par21' %>)"> <%= button_to "Suppr", message, :method => :delete  %> </span>
							<% end  %>

						</span>
					</td> 
				</tr>
			<% end %>
		<% end %>


	</table>
<% end %>


</div>
