<table class="profile" summary="Information profil">
        <tr>
                <td class="main">
                        <h1>
                                <%= @coloc.nom %>
                        </h1>
                </td>
                <td class="sidebar round">
                        <strong>Nom</strong> <%= @coloc.nom %><br />
                        <strong>Colocataires</strong> <%= @coloc.users.count %>/4<br />
                        <%= tableau_bord? %>
                </td>
        </tr>
</table>

<% if @coloc.users.size == 0 %>
        Pas de colocataire inscrit.
<% else %>
        <table class="tabbord">
                <tr> <strong> Liste des membres de la colocation : </strong> </br></tr>
                <% @liste.each do |users| %>
                        <tr> <strong> <%= liste_users(users) %> </strong></br></tr> 
                <% end %>
        </table>
<% end %>
<br>
<% if @coloc.users.size < 4 %>
        <%= nouveau_coloc? %> </br>
<% else %>
        Nombre max de colocataires atteint.</br>

<% end %>




<%= edit_coloc? %>
