<div class="descriptionNormal">


	<h1> Colocation <span class="cam1"> <%= @coloc.nom %>. </span> </h1>

	<p>
	Bienvenue sur le profil de la coloc <span class="cam1"> <%= @coloc.nom %>. </span>
	Cette colocation est composée de  <span class="cam1"><%= @coloc.users.count %> </span> colocataires. <br/>
	<span class="cam1"> <%= @coloc.nom %>. </span> a rejoint notre réseau le  <%= @coloc.created_at.strftime("%d %b. %y") %>,
	<% if @coloc.palm == 1 %>
		et est classée <span class="cam1"> #<%= @colocs.reverse.index(@coloc) + 1 %> </span>
		au palmarès des colocations. Son chiffre d'affaires est estimé à <span class="cam1" ><%= "%0.2f" % @coloc.ca %> €. </span> 
	<% else %>
		et n'a pas désirer apparaître au palmarès des colocations.
	<% end %>
	</p>
	<p>
	Votre profil vous permet de : 
	<ul class="profil">
		<li>
		Poster un message <%= link_to "public", new_message_path(:coloc_id => @coloc.id, :priv =>0) %> 
		ou
		<%= link_to "privé", new_message_path(:coloc_id => @coloc.id, :priv =>1) %> 
		sur le mur de <span class="cam1"> <%= @coloc.nom %>. </span>
		</li>
		<% if signed_in? and (current_user.coloc_id == @coloc.id or current_user.admin?) %> 
			<li> 
			<%= edit_coloc? %>, changer le nom, etc...
			</li>
		<% end %>
		<% if signed_in? and (current_user.coloc_id == @coloc.id or current_user.admin?) %> 
			<% unless (@coloc.users.size == 2 and (@coloc.users[0].depenses.size != 0 or @coloc.users[1].depenses.size != 0)) or  
			(@coloc.users.size == 3 and (@coloc.users[0].trois_depenses.size != 0 or @coloc.users[1].trois_depenses.size != 0 or @coloc.users[2].trois_depenses.size != 0)) or
			(@coloc.users.size == 4 and (@coloc.users[0].quatre_depenses.size != 0 or @coloc.users[1].quatre_depenses.size != 0 or @coloc.users[2].quatre_depenses.size != 0 or @coloc.users[3].quatre_depenses.size != 0)) or
			(@coloc.users.size > 4 and @pleine == true)
		%>
		<li>
		<%= link_to "Ajouter des colocs", new_user_path(:coloc_id => @coloc.id) %> dans cette colocation.
		</li>
	<% end %>
<% end %>
<% if @coloc.users.size == 0 %>
	<li>
	<%= link_to "Continuer votre inscription", new_user_path(:coloc_id => @coloc.id) %> et créer votre compte dans cette colocation.
	</li>
<% end %>

	</ul>
	</p>
	<br/>


	<h3> 
		Les membres de <span class="cam1"> <%= @coloc.nom %>. </span> sont : <br/>
	</h3>
	<% if @coloc.users.size == 0 %>
		Pas de colocataire inscrit.
	<% else %> 
		<table class="tabbord black">
			<tr>
				<td> <strong> </strong> </td>
				<td> <strong> Nom </strong></td>
				<td> <strong> Email </strong></td>
			</tr>
			<% @liste.each do |users| %>
				<tr>  <td> 
						<% if users.has_image %>
							<%= image_tag (users.image) , :size => "60x60", :style => "box-shadow: 0px 2px 5px #1c1a19;" %>
						<% else %>
							<%= gravatar_for users, :size => 60 %> 
						<% end %> 
					</td>
					<td>     <font  align="top"> <%= liste_users(users) %> </font></td> <td> <%= mail_to users.email %> </td></tr>
			<% end %>
		</tr>
	</table>
<% end %>




<br>
<table class="microposts">
	<h3> Les messages <span class="cam1">publics. </span></h3>
	<% if @messagespubl.size == 0 %>
		<br>Aucun message public à afficher.
	<% else %>
		<% @messagespubl.each do |message| %>
			<tr>
				<td class="micropost">
					<span class="content"><strong> <%= message.content %></strong></span>
					<span class="timestamp">
						Posté il y a <%= time_ago_in_words(message.created_at) %> par <%= link_to User.find(message.source_id).nom,  User.find(message.source_id)%> membre de <%= link_to Coloc.find(User.find(message.source_id).coloc_id).nom,  Coloc.find(User.find(message.source_id).coloc_id)%>. 
						<% if signed_in? and (current_user.admin? or current_user.id == message.source_id or current_user.coloc_id == @coloc.id) %>
							<span onclick="return confirm('Etes-vous sûr de vouloir supprimer le message ?')"> <%= button_to "Suppr", message, :method => :delete  %> </span>
						<% end  %>

					</span>
				</td> 
			</tr>
		<% end %>
	<% end %>


</table>

<%= will_paginate @messagespubl %>

<br/>
<br/>
<% if signed_in? and current_user.coloc_id == @coloc.id %>
	<table class="microposts">
		<h3> Les messages <span class="cam1">privés. </span></h3> 
		<% if @messagespriv.size == 0 %>
			<br>Aucun message privé à afficher.
		<% else %>
			<% @messagespriv.each do |message| %>
				<tr>
					<td class="micropost">
						<span class="content"><strong> <%= message.content %></strong></span>
						<span class="timestamp">
							Posté il y a <%= time_ago_in_words(message.created_at) %> par <%= link_to User.find(message.source_id).nom,  User.find(message.source_id)%> membre de <%= link_to Coloc.find(User.find(message.source_id).coloc_id).nom,  Coloc.find(User.find(message.source_id).coloc_id)%>. 
							<% if signed_in? and (current_user.admin? or current_user.id == message.source_id or current_user.coloc_id == @coloc.id) %>
								<span onclick="return confirm('Etes-vous sûr de vouloir supprimer le message ?')"> <%= button_to "Suppr", message, :method => :delete  %> </span>
							<% end  %>

						</span>
					</td> 
				</tr>
			<% end %>
		<% end %>


	</table>
<% end %>


</div>
