<h1> <%= t 'header.tabbord' %> <%= t 'gen.of' %> <span class="cam1"> <%= @coloc.nom %>. </span> </h1>
<br/>
<br/>
<div class="descriptionNormal">
<p>
<%= t 'tabbord.par1' %> <span class="cam1"> <%= t 'home.par2' %> </span> <%= t 'tabbord.par2' %> <br/><br/>
<%= t 'tabbord.par3' %> <span class="cam1"> <%= @coloc.nom %>. </span> <%= t 'tabbord.par4' %> </p>

<script type="text/javascript">
	$(function () {
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
chart: {
renderTo: 'container',
plotBackgroundColor: null,
plotBorderWidth: null,
plotShadow: false
},
title: {
text: '<%= t "tabbord.graphTitle" %>'
},
subtitle: {
text: '<%= @coloc.nom.gsub('\'', ' ') %>',
x: -20
},
tooltip: {
formatter: function() {
return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
}
},
plotOptions: {
pie: {
allowPointSelect: true,
		  cursor: 'pointer',
		  dataLabels: {
enabled: true,
	 color: '#000000',
	 connectorColor: '#000000',
	 formatter: function() {
		 return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
	 }
		  }
     }
	     },
series: [{
type: 'pie',
      data: [
	      <% if @nbrcoloc == 2 %>
		      ['<%= @colocataires[0].nom.gsub('\'', ' ') %>',  <%= (@sumdep1 / @coloc.ca * 100) %>],
      ['<%= @colocataires[1].nom.gsub('\'', ' ') %>',   <%= (@sumdep2 / @coloc.ca * 100) %>]
      <% elsif @nbrcoloc == 3 %>
	      ['<%= @colocataires[0].nom.gsub('\'', ' ') %>',   <%=  (@sumdep1 / @coloc.ca * 100) %>],
      ['<%= @colocataires[1].nom.gsub('\'', ' ') %>',   <%=  (@sumdep2 / @coloc.ca * 100) %>],
      ['<%= @colocataires[2].nom.gsub('\'', ' ') %>',   <%=  (@sumdep3 / @coloc.ca * 100) %>]
      <% elsif @nbrcoloc == 4 %>
	      ['<%= @colocataires[0].nom.gsub('\'', ' ') %>',   <%= (@sumdep1 / @coloc.ca * 100) %>],
      ['<%= @colocataires[1].nom.gsub('\'', ' ') %>',   <%= (@sumdep2 / @coloc.ca * 100) %>],
      ['<%= @colocataires[2].nom.gsub('\'', ' ') %>',   <%= (@sumdep3 / @coloc.ca * 100) %>],
      ['<%= @colocataires[3].nom.gsub('\'', ' ') %>',   <%= (@sumdep4 / @coloc.ca * 100) %>]
      <% elsif @nbrcoloc > 4 %>
         <% @colocataires.each do |coloc, i| %>
         ['<%= coloc.nom.gsub('\'', ' ') %>', <%= @expensesSource.pop / @coloc.ca * 100 %> ], 
         <% end %>
      <% end %>
      ],
	}]
});
});

});
</script>

<div id="container" class="container2"></div>
<div style="height: 15px;"></div>

<br/>
<br/>
<p>
<%= t 'tabbord.par5' %> <span class="cam1"><%=@coloc.nom%>.</span><%= t 'tabbord.par6' %>
<span style="color:red;font-weight:bold"> <%= t 'tabbord.par7' %> </span>
</p>
<table class="tabbord">
	<tr> 
		<td> <strong> <%= t 'tabbord.persRes' %> :</strong> </td>
	</tr>
	<% @colocataires.each do |colocataires| %>
		<tr>
			<td>  <%= link_to colocataires.nom, colocataires %> </td>
			<% if colocataires.tot < 0 %>
				<td> <font color=red> <strong> <%= "%0.2f" % colocataires.tot %> <%= t 'number.currency.format.unit' %>
 </strong> </font> </td>
			<% else %>
				<td> <strong> <%= "%0.2f" % colocataires.tot %> <%= t 'number.currency.format.unit' %>
 </strong> </td>
			<% end %>
		</tr>
	<% end %>
</table>

<br/>
<br/>
<p> 
<%= t 'tabbord.par8' %><span class="cam1"><%=@coloc.nom%>.</span>
</p>
<table class="tabbord">
	<tr> 
		<td> <strong> <%= t 'tabbord.whoWho' %> </strong> </td> 
	</tr>
	<tr>
		<% @colocatairestries = @colocataires.sort { |a,b| a.tot <=> b.tot } %>
		<% if @nbrcoloc == 2 %>
			<td> 
				<%= @colocatairestries.first.nom %> <%= t 'gen.owns' %> <%= "%0.2f" % @colocatairestries.last.tot %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. 
			</td> 
		</tr>
	<% end %>


	<% if @nbrcoloc == 3 %>

		<td> 
			<%= @colocatairestries.first.nom %> <%= t 'gen.owns' %>

			<% if @colocatairestries.last.tot.abs < @colocatairestries.first.tot.abs %>
				<! le remboursement de first suffit pour last, first rembourse un autre>
				<%= "%0.2f" % @colocatairestries.last.tot %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. 
			</td> 
		</tr>
		<tr> 
			<td> 
				<%= @colocatairestries.first.nom %> <%= t 'gen.owns' %> <%= "%0.2f" % @colocatairestries[1].tot.abs %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries[1].nom %>. 
			</td> 
		</tr>

	<% else %>
		<! le remboursement de first ne suffit pas pour last, un autre doit participer>
		<%= "%0.2f" % @colocatairestries.first.tot.abs  %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. 
	</td> 
</tr>
<tr> 
	<td> 
		<%= @colocatairestries[1].nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % @colocatairestries[1].tot.abs %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. 
	</td> 
</tr>
			<% end %>	

		<% end %>


		<% if @nbrcoloc == 4 %>
			<td> 
				<% if @colocatairestries.last.tot.abs < @colocatairestries.first.tot.abs %>
					<!-- le remboursement de first suffit pour last, first rembourse un autre-->
					<%= @colocatairestries.first.nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % @colocatairestries.last.tot %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. </td></tr>
			<tr> <td><%= @colocatairestries.first.nom %><%= t 'gen.owns' %>
 <%= "%0.2f" % [@colocatairestries[2].tot.abs, @colocatairestries.first.tot.abs - @colocatairestries.last.tot.abs].min %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries[2].nom %>. </td></tr>

			<% if @colocatairestries[2].tot.abs < @colocatairestries.first.tot.abs - @colocatairestries.last.tot.abs %>
				<!-- Le remboursement de first suffit pour 2, first rembourse le dernier -->
				<tr><td><%= @colocatairestries.first.nom %> <%= t 'gen.owns' %>
  <%= "%0.2f" % @colocatairestries[1].tot.abs %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries[1].nom %>. </tr></td>

			<% else %>
				<!-- Le remboursement de first suffit pas pour 2, 1 rembourse 2 --> 
				<tr><td><%= @colocatairestries[1].nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % [@colocatairestries[2].tot.abs, @colocatairestries[1].tot.abs].min %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries[2].nom %>. </td></tr>
			<% end %>




		<% else %>
			<!-- le remboursement de first ne suffit pas pour last, 1 doit participer-->
			<%= @colocatairestries.first.nom %> <%= t 'gen.owns' %>
	<%= "%0.2f" % @colocatairestries.first.tot.abs  %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %>
 <%= @colocatairestries.last.nom %>. </td></tr>


	<% if @colocatairestries.last.tot.abs - @colocatairestries.first.tot.abs < @colocatairestries[1].tot.abs %>
		<! le remboursement de 1 suffit pour last, 1 rembourse 2>
		<tr> <td><%= @colocatairestries[1].nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % (@colocatairestries.last.tot.abs - @colocatairestries.first.tot.abs) %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. </td></tr>
		<tr> <td><%= @colocatairestries[1].nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % @colocatairestries[2].tot.abs %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries[2].nom %>. </td></tr>

	<%else%>
		<! le remboursement de 1 suffit pas pour last, 2 rembourse last>
		<tr> <td><%= @colocatairestries[1].nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % @colocatairestries[1].tot.abs %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. </td></tr>
		<tr> <td><%= @colocatairestries[2].nom %> <%= t 'gen.owns' %>
 <%= "%0.2f" % @colocatairestries[2].tot.abs %><%= t 'number.currency.format.unit' %>
 <%= t 'gen.to' %> <%= @colocatairestries.last.nom %>. </td></tr>
	<% end %>
<% end %>	
<% end %>
<% if @nbrcoloc > 4 %>
   <% @hashRM.each do |h| %>
      <% if h[2] > 0.01 %>
         <tr> <td> <%= h[1] %> <%= t 'gen.owns' %>
 <strong><%= "%0.2f" % (h[2]) %><%= t 'number.currency.format.unit' %>
</strong> <%= t 'gen.to' %> <%= h[3] %>. </td></tr>
      <% end %>
   <% end %>
<% end %>
		</table>


<br/>
<br/>
<p> 
<%= t 'tabbord.par9' %> <span class="cam1"> <%= t 'tabbord.par10' %> </span> <%= t 'tabbord.par11' %> </p>

		<table class="tabbord">
			<tr>
				<td><strong> <%= t 'tabbord.monthExp' %>  </strong> </td>
			</tr>
			<% if @autodep.size == 0 %>
				<td>  <%= t 'tabbord.noMonth' %></td>
			<% else %>
				<tr>
					<td><strong> Source </strong> </td>
					<td><strong> <%= t 'tabbord.monthAmo' %> </strong></td>
					<td><strong> <%= t 'tabbord.monthRea' %> </strong></td>
					<td><strong> Date </strong></td>
					<td></td>
				</tr>

				<% @autodep.each do |depauto| %>
					<tr>
						<td><%= User.find(depauto.user_id).nom %> </td>
						<td><%= depauto.montant %> <%= t 'number.currency.format.unit' %>
</td>
						<td><%= depauto.raison %> </td>
						<td><%= depauto.created_at.strftime("%d %b. %Y")%> </td>
						<% if signed_in? and (current_user.coloc_id == @coloc.id or current_user.admin?) %>
							<td onclick="return confirm('<%= t "tabbord.confirm" %>')"> <%= button_to "Suppr", depauto, :method => :delete  %> </td>
						<% end %>

					</tr>
				<% end %>
			<% end %>
		</table>
<br/>
<br/>
 
<%= t 'tabbord.par12' %>
<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';document.getElementById('to_hide').style.display='none';" class="connectFacebook"><%= t 'tabbord.par13' %></a> <span id="to_hide"> <%= t 'tabbord.par14' %><span class="cam1"> <%= @coloc.nom %>. </span> </span>
<span id="spoiler_id" style="display: none"><a onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';document.getElementById('to_hide').style.display=''" class="connectFacebook"><%= t 'tabbord.par15' %></a> <%= t 'tabbord.par14' %><span class="cam1"> <%= @coloc.nom %>. </span><br/><br/>


			<table class="tabbord">
				<tr>
					<td><strong> Source </strong> </td>
					<% @colocataires.each do |colocataires| %>
						<td><strong> <%= colocataires.nom %></strong> </td>
					<% end %>
					<td><strong> <%= t 'tabbord.monthAmo' %> </strong></td>
					<td><strong> <%= t 'tabbord.monthRea' %> </strong></td>
					<td><strong> Date </strong></td>
				</strong>
			</tr>

			<% @dep.reverse.each do |depenses| %>
				<tr>
					<td>	<%= User.find(depenses.user_id).nom %> </td>
					<td>	<%= depenses.destinataire_part %>  </td>
					<td>	<%= depenses.destinataire_part2 %>  </td>
					<% if @nbrcoloc > 2 %>
						<td>	<%= depenses.destinataire_part3 %>  </td>
					<% end %>
					<% if @nbrcoloc > 3 %>
						<td>	<%= depenses.destinataire_part4 %>  </td>
					<% end %>
					<td>	<%= depenses.montant %> <%= t 'number.currency.format.unit' %>
 </td>
					<td>	<%= depenses.raison %> </td>
					<td>	<%= depenses.created_at.strftime("%d %b. %Y") %> </td>
				</tr>
			<% end %>

         <% @expenses.reverse.each do |exp| %>
            <tr>
					<td>	<%= User.find(exp.user_id).nom %> </td>
               <% exp.parties.each do |p| %> 
                  <% if p.last == "0"%>
                     <td> non </td>
                  <% else %>
                     <td> oui </td>
                  <% end %>
               <% end %>
               <td>	<%= exp.montant %> <%= t 'number.currency.format.unit' %>
 </td>
					<td>	<%= exp.raison %> </td>
					<td>	<%= exp.created_at.strftime("%d %b. %Y") %> </td>
            </tr>
         <% end %>
		</table>
	</span> <br>
</div>
