<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function () {
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
chart: {
renderTo: 'container',
plotBackgroundColor: null,
plotBorderWidth: null,
plotShadow: false
},
title: {
text: 'Répartition du CA de la colocation'
},
subtitle: {
text: '<%= @coloc.nom.gsub('\'', ' ') %>',
x: -20
},
tooltip: {
formatter: function() {
return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
}
},
plotOptions: {
pie: {
allowPointSelect: true,
		  cursor: 'pointer',
		  dataLabels: {
enabled: true,
	 color: '#000000',
	 connectorColor: '#000000',
	 formatter: function() {
		 return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
	 }
		  }
     }
	     },
series: [{
type: 'pie',
      data: [
	      <% if @nbrcoloc == 2 %>
		      ['<%= @colocataires[0].nom.gsub('\'', ' ') %>',  <%= (@sumdep1 / @coloc.ca * 100) %>],
      ['<%= @colocataires[1].nom.gsub('\'', ' ') %>',   <%= (@sumdep2 / @coloc.ca * 100) %>]
      <% elsif @nbrcoloc == 3 %>
	      ['<%= @colocataires[0].nom.gsub('\'', ' ') %>',   <%=  (@sumdep1 / @coloc.ca * 100) %>],
      ['<%= @colocataires[1].nom.gsub('\'', ' ') %>',   <%=  (@sumdep2 / @coloc.ca * 100) %>],
      ['<%= @colocataires[2].nom.gsub('\'', ' ') %>',   <%=  (@sumdep3 / @coloc.ca * 100) %>]
      <% elsif @nbrcoloc == 4 %>
	      ['<%= @colocataires[0].nom.gsub('\'', ' ') %>',   <%= (@sumdep1 / @coloc.ca * 100) %>],
      ['<%= @colocataires[1].nom.gsub('\'', ' ') %>',   <%= (@sumdep2 / @coloc.ca * 100) %>],
      ['<%= @colocataires[2].nom.gsub('\'', ' ') %>',   <%= (@sumdep3 / @coloc.ca * 100) %>],
      ['<%= @colocataires[3].nom.gsub('\'', ' ') %>',   <%= (@sumdep4 / @coloc.ca * 100) %>]
   <% elsif @nbrcoloc > 4 %>
      <% @colocataires.each do |coloc, i| %>
         ['<%= coloc.nom.gsub('\'', ' ') %>', <%= @expensesSource.pop / @coloc.ca * 100 %> ], 
         <% end %>

      <% end %>
      ],
	}]
});
});

});
</script>

<script src="highcharts.js"></script>
<script src="exporting.js"></script>
<div id="container" class="container2"></div>
<div style="height: 15px;"></div>



<ul>
<li class="rounded">
Résumé des comptes
</li>
<% @colocataires.each do |colocataires| %>
   <li class="arrow">
         <%= link_to colocataires.nom, colocataires %>
         <small class="counter">
         <% if colocataires.tot < 0 %>
				<font color=red> <strong> <%= "%0.2f" % colocataires.tot %> </strong> </font> 
			<% else %>
				<strong> <%= "%0.2f" % colocataires.tot %> </strong> 
         <% end %>
         </small>
   </li>
<% end %>
</ul>

<ul>
<li class="rounded"> <strong> Qui doit quoi ? </strong>

<% @colocatairestries = @colocataires.sort { |a,b| a.tot <=> b.tot } %>
<% if @nbrcoloc == 2 %>
   <li class = "rounded"> 
				<%= @colocatairestries.first.nom %> doit <%= "%0.2f" % @colocatairestries.last.tot %>€ à <%= @colocatairestries.last.nom %>. 
	</li> 
<% end %>

<% if @nbrcoloc == 3 %>
	<li class="rounded"> 
			<%= @colocatairestries.first.nom %> doit
   <% if @colocatairestries.last.tot.abs < @colocatairestries.first.tot.abs %>
				<! le remboursement de first suffit pour last, first rembourse un autre>
				<%= "%0.2f" % @colocatairestries.last.tot %>€ à <%= @colocatairestries.last.nom %>. 
	</li> 
	<li class="rounded"> 
				<%= @colocatairestries.first.nom %> doit <%= "%0.2f" % @colocatairestries[1].tot.abs %>€ à <%= @colocatairestries[1].nom %>. 
   </li> 
   <% else %>
		<!-- le remboursement de first ne suffit pas pour last, un autre doit participer--!>
		<%= "%0.2f" % @colocatairestries.first.tot.abs  %>€ à <%= @colocatairestries.last.nom %>. 
	</li> 
	<li class="rounded"> 
		<%= @colocatairestries[1].nom %> doit <%= "%0.2f" % @colocatairestries[1].tot.abs %>€ à <%= @colocatairestries.last.nom %>. 
	</li> 
   <% end %>	
<% end %>

<% if @nbrcoloc == 4 %>
   <% if @colocatairestries.last.tot.abs < @colocatairestries.first.tot.abs %>
      <!-- le remboursement de first suffit pour last, first rembourse un autre-->
      <li class="rounded"> 
      <%= @colocatairestries.first.nom %> doit <%= "%0.2f" % @colocatairestries.last.tot %>€ à <%= @colocatairestries.last.nom %>. 
      </li>
      <li class="rounded"> 
      <%= @colocatairestries.first.nom %> doit <%= "%0.2f" % [@colocatairestries[2].tot.abs, @colocatairestries.first.tot.abs - @colocatairestries.last.tot.abs].min %>€ à <%= @colocatairestries[2].nom %>. 
      </li>

      <% if @colocatairestries[2].tot.abs < @colocatairestries.first.tot.abs - @colocatairestries.last.tot.abs %>
         <!-- Le remboursement de first suffit pour 2, first rembourse le dernier -->
         <li class="rounded"> 
         <%= @colocatairestries.first.nom %> doit  <%= "%0.2f" % @colocatairestries[1].tot.abs %>€ à <%= @colocatairestries[1].nom %>.
         </li>

      <% else %>
         <!-- Le remboursement de first suffit pas pour 2, 1 rembourse 2 --> 
         <li class="rounded"> 
         <%= @colocatairestries[1].nom %> doit <%= "%0.2f" % [@colocatairestries[2].tot.abs, @colocatairestries[1].tot.abs].min %>€ à <%= @colocatairestries[2].nom %>. 
         </li>
      <% end %>

   <% else %>
      <!-- le remboursement de first ne suffit pas pour last, 1 doit participer-->
      <li class="rounded"> 
      <%= @colocatairestries.first.nom %> doit	<%= "%0.2f" % @colocatairestries.first.tot.abs  %>€ à <%= @colocatairestries.last.nom %>. 
      </li>


      <% if @colocatairestries.last.tot.abs - @colocatairestries.first.tot.abs < @colocatairestries[1].tot.abs %>
         <! le remboursement de 1 suffit pour last, 1 rembourse 2>
         <li class="rounded"> 
            <%= @colocatairestries[1].nom %> doit <%= "%0.2f" % (@colocatairestries.last.tot.abs - @colocatairestries.first.tot.abs) %>€ à <%= @colocatairestries.last.nom %>. 
         </li>
         <li class="rounded"> 
         <%= @colocatairestries[1].nom %> doit <%= "%0.2f" % @colocatairestries[2].tot.abs %>€ à <%= @colocatairestries[2].nom %>. 
         </li>

      <%else%>
         <! le remboursement de 1 suffit pas pour last, 2 rembourse last>
         <li class="rounded"> 
         <%= @colocatairestries[1].nom %> doit <%= "%0.2f" % @colocatairestries[1].tot.abs %>€ à <%= @colocatairestries.last.nom %>. 
         </li>
         <li class="rounded"> 
         <%= @colocatairestries[2].nom %> doit <%= "%0.2f" % @colocatairestries[2].tot.abs %>€ à <%= @colocatairestries.last.nom %>. 
         </li>
	   <% end %>
   <% end %>	
<% end %>


<% if @nbrcoloc > 4 %>
   <% @hashRM.each do |h| %>
      <% if h[2] > 0.01 %>
         <li class="rounded"> <%= h[1] %> doit <strong><%= "%0.2f" % (h[2]) %>€</strong> à <%= h[3] %>. </li>
      <% end %>
   <% end %>



<% end %>
</ul>

