<% @titre = "Dépense" %>
<%= form_for(@expense) do |f| %>
   <%= render 'shared/error_messages', :object => f.object %>
  <ul class="rounded">
    <li class="rounded">Qui a payé ? 
    <%= f.select :user_id, options_for_select(@colocataires.map{ |c| [c.nom, c.id]}, [current_user.nom, current_user.id]) %> </li>
    <li class="rounded">Pour qui payez-vous ?<br>
      <%= fields_for :parties do |p| %>
         <% @colocataires.each do |c| %>      
            <%= p.check_box c.id %> <%= c.nom %> <br>         
          <% end %>
       <% end %>
   </li>
   <li class="rounded">Quel est le montant de la dépense ?<%= f.text_field :montant, :style => "background-color : white; color : black;" %></li>
    <li class="rounded">Pour quelle raison ?<%= f.text_field :raison, :style => "background-color : white; color : black;"%></li>

  </ul>
  <%= f.submit "Enregistrer", :class=> "whiteButton"%>
<% end %>
