<h1> <%= @titre %> </h1>

<%= form_for(@troisdepense) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <div class="field">
                <a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';" class="signup_button4">Dépense mensuelle ? </a>       
                <span id="spoiler_id" style="display: none">
                        <strong>  La dépense est  </strong>
                        <%= f.select :auto, options_for_select([[ "Occasionnelle" ,  0 ], ["Mensuelle", 1 ]]) %>
                        <i>(Les dépenses mensuelles sont ajoutées tous les 1er du mois.)</i>
                </span>
        </div>

        <div class="field">
                <strong>  Qui a payé ? </strong><br>
                <%= f.select :user_id, options_for_select([[ @colocataires[0].nom ,  @colocataires[0].id ], [ @colocataires[1].nom ,  @colocataires[1].id ], [ @colocataires[2].nom ,  @colocataires[2].id ]], [current_user.nom, current_user.id])%>
        </div>



        <div class="field">
                <strong> Pour qui payez-vous ? </strong><br>
                <%=f.check_box :destinataire_part %>  		
                <%= f.label @colocataires[0].nom %><br>
                <%=f.check_box :destinataire_part2 %> 
                <%= f.label @colocataires[1].nom %><br>
                <%=f.check_box :destinataire_part3 %> 
                <%= f.label @colocataires[2].nom %><br>
        </div>

        <div class="field">
                <%= f.label "Quel est le montant de la dépense ?" %><br>
                <i> Pour les nombres décimaux, utiliser "." et non "," </i> <br>
                <%= f.text_field :montant %>
        </div>

<div class="field">
<%= f.label "Quelle est la raison de la dépense ?" %><br>
<%= f.text_field :raison %>
</div>

<!--POPUP-->    
<script>
   function reload() {
      var iframe = document.getElementById("icaptcha");
      iframe.src = iframe.src;
   }
</script>

<% if mobile_device? %>
   <div id="valider" style="display:;">
   <i> Vous pouvez maintenant enregistrer la dépense. </i> <br>
   <%= f.submit "Enregistrer" %>
   </div>
<% else %>
   <input type='button' name='osx' value='Valider le formulaire' class='osx demo signup_button4' id="captchavalider" onclick="reload()"/>
   <div id="valider" style="display:none;">
   <i> Vous pouvez maintenant enregistrer la dépense. </i> <br>
   <%= f.submit "Enregistrer" %>
   </div>
<% end %>

<% end %>


<!-- modal content -->
<div id="osx-modal-content">
<div id="osx-modal-title">Veuillez valider le captcha ci-dessous</div>
<div id="osx-modal-data">
<iframe src="http://captcha.olympe.in" scrolling="yes" class="icaptcha" id="icaptcha"></iframe>
</div>
</div>

