<header>
<div class="mycoloc">
	<%= link_to "Camouloc.", root_path, :class =>"cam1" %>
	<span class="prettyFont">  <%= t 'header.subtitle' %></span>

	<%= link_to image_tag("../en_flag.png", :class => "flag"), :locale=>'en'%>
	<%= link_to image_tag("../french_flag.png", :class => "flag2"), :locale=>'fr'%>
	<nav class="round">
	<ul>
		<% if signed_in? %>
			<li>
			<% if Coloc.find(current_user.coloc_id).users.size == 2 %>
				 <%= link_to t('header.new_dep'), new_depense_path(@depense) %> 
			 <% elsif Coloc.find(current_user.coloc_id).users.size == 3 %>
				 <%= link_to t('header.new_dep'), new_trois_depense_path(@depense) %> 
			 <% elsif Coloc.find(current_user.coloc_id).users.size == 4 %>
				 <%= link_to  t('header.new_dep'), new_quatre_depense_path(@depense) %> 
			 <% elsif Coloc.find(current_user.coloc_id).users.size > 4 %>
				 <%= link_to t('header.new_dep'), new_expense_path(@depense) %> 
			 <% end %>
			 </li>


			<li><%= link_to t('header.tabbord'), tableau_bord_path(Coloc.find(current_user.coloc_id).id) %></li>
			<li><%= link_to t('header.coloc'), Coloc.find(current_user.coloc_id) %></li>
			<li><%= link_to t('header.profile'), current_user %></li>
			
			<li><%= link_to t('header.deco') + "("+current_user.nom + ")", signout_path, :method => :delete %></li>
		<% else %>
			<li><%= link_to t('header.accueil'), root_path %></li>
			<li><%= link_to t('header.users'), users_path %></li>
			<li><%= link_to t('header.colocs'), list_path %></li>
			<li><%= link_to t('header.part'), partenaires_path %></li>
			<li><%= link_to t('header.login'), login_path %></li>
		<% end %>
	</ul>
	</nav>

</div>  
</header>
