<header>
<a href=<% link_to root_path %> > 
<%= image_tag("mc-logo.jpg", :alt => "Application Arthur", :class => "round") %>
</a>
<div class="titre">
	<font size="15", color=#5DA7CF>MyColoc</font> <br /> <font size="5", color=white>Logiciel de gestion de Colocation en ligne.</font>
</div>
<nav class="round">

<ul>
	<li><%= link_to "Accueil", root_path %></li>
	<li><%= link_to "Utilisateurs", users_path %></li>
	<% if signed_in? %>
		<li><%= link_to "Ma Colocation", Coloc.find(current_user.coloc_id) %></li>
		<li><%= link_to "Déconnexion", signout_path, :method => :delete %></li>
	<% else %>
		<li><%= link_to "Colocations", colocs_path %></li>
		<li><%= link_to "S'identifier", signin_path %></li>
	<% end %>
</ul>
</nav>
</header>
