<header>
<%= image_tag("mc-logo.jpg", :alt => "Application Arthur", :class => "round") %>
<div class="titre">
	<div class="mycoloc">MyColoc</div>  <p class="subtitle">Application de gestion de Colocation.</p>
</div>
<nav class="round">

<ul>
	<li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Colocations", colocs_path %></li>
	<% if signed_in? %>
		<li><%= link_to "Déconnexion ("+current_user.nom + ")", signout_path, :method => :delete %></li>
        <% else %>
                <li><%= link_to "S'identifier", signin_path %></li>
	<% end %>
</ul>
</nav>
</header>
