<header>

<%= image_tag("mc-logo.jpg", :alt => "Application exemple", :class => "round") %>
<div class="titre">
	<font size="15", color=#5DA7CF>MyColloc</font> <br /> <font size="5", color=white>Logiciel de gestion de Collocation en ligne.</font>
</div>
<nav class="round">

<ul>
	<li><%= link_to "Accueil", root_path %></li>
	<li><%= link_to "Utilisateurs", users_path %></li>
	<li><%= link_to "Collocations", collocs_path %></li>
	<% if signed_in? %>
		<li><%= link_to "Profil", edit_user_path(current_user) %></li>
	<% end %>
	<% if signed_in? %>
		<li><%= link_to "Déconnexion", signout_path, :method => :delete %></li>
	<% else %>
		<li><%= link_to "S'identifier", signin_path %></li>
	<% end %>
</ul>
</nav>
</header>
