<header>
<%= image_tag("logo.png", :alt => "Application Arthur", :class => "round") %>
<div class="titre">
	<div class="mycoloc">Camouloc</div>  <div class="subtitle">Application de gestion de Colocation.</div>
</div>
<nav class="round">

<ul>
	<li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Utilisateurs", users_path %></li>
	<% if signed_in? %>
		<li><%= link_to "Déconnexion ("+current_user.nom + ")", signout_path, :method => :delete %></li>
        <% else %>
                <li><%= link_to "S'identifier", login_path %></li>
	<% end %>

   </ul>

</nav>

</header>
