<!DOCTYPE html>
<html>
	<head>
		<title> Camouloc </title>
		<meta name="description" content="L'application la plus professionnelle pour gérer votre coloc ! Simple, élégante et gratuite, venez découvrir l'univers Camouloc" /> 
		<meta name="google-site-verification" content="5C7iTdSIxkpZvOM701oAEloD7LvzkoxkgSosSvhGc4M" />
		<meta name="keywords" content="colocation, collocation, coloc,colloc, collocataire, colocataire, pro,  roommate, roommates, share, partage, appartement, co-location, comptes, dépenses, courses, facture, loyer, edf, téléphone, diviser, répartir, remboursement, cahier, argent, ze-coloc, camouloc, the coloc, zecoloc, copropriété, ze-coloc, camouloc, colocatioonline, online, maison, charges, statistiques, courses, expense, housemate, foyer, gestion, facile, gratuit">
		<meta name="dc.keywords" content="colocation, collocation, coloc,colloc, collocataire, colocataire,  roommate, roommates, share, partage, appartement, co-location, comptes, dépenses, courses, facture, loyer, edf, téléphone, diviser, répartir, remboursement, cahier, argent, camouloc, ze-coloc, the coloc, zecoloc, copropriété, ze-coloc, colocatioonline, online, maison, charges, statistiques, courses, expense, housemate, foyer, gestion, facile, gratuit">
		<meta name="author" content="Camouloc">
		<meta name="copyright" content="©Camouloc2016">
		<meta name="organization" content="L'équipe Camouloc">
		<meta name="location" content="France, FRANCE">
		<meta name="Robots" content="index, follow, all">
		<meta name="revisit-after" content="2 days">

		<meta http-equiv="Content-Language" content="fr,en">
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">

		<%= csrf_meta_tag %>
		<%= favicon_link_tag "/favicon.ico" %>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<%= stylesheet_link_tag "languages.min", "main" %>

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

	</head>


	<body data-spy="scroll" data-offset="0" data-target="#navigation">


	    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
		      <%= link_to "<b>Camouloc</b>".html_safe, root_url, :class => "navbar-brand" %>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a data-scroll href="#home"><%= t "home.home" %></a></li>
	            <li><a data-scroll href="#desc"><%= t "home.values" %></a></li>
	            <li><a data-scroll href="#showcase"><%= t "home.features" %></a></li>
	          </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li class="wrap"><%= link_to t("home.register"), signup_path, :id => "try_button" %></li>
				<li><%= link_to t("home.login"), login_path, :id => "login_button" %></li>				
				<li>				
					<div class="btn-group dropdown language-selector" id="language_box" style="display:none">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="lang-sm" id="current_language"></span><span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="<%= url_for root_url(:locale => "en") %>"><span class="lang-sm lang-lbl" lang="en"></span></a></li>
						<li><a href="<%= url_for root_url(:locale => "fr") %>"><span class="lang-sm lang-lbl" lang="fr"></span></a></li>
					  </ul>
					</div>
				</li>				
			  </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

		<section id="home" name="home"></section>
		<div id="headerwrap">
			<div class="container">
				<div class="alert-wrapper">
                <% flash.each do |type, content| %>
                    <% if content.respond_to?('each') 
                        content.each do |item| %>
                            <%= render 'layouts/alert', 
                                type: type,
                                content: item %>
                        <% end %>
                    <% else %>
                        <%= render 'layouts/alert', 
                                type: type,
                                content: content %>
                    <% end %>

                <% end %>
			</div>
				<div class="row centered">
					<div class="col-lg-12">
						<h1><b>Camouloc</b></h1>
						<h3><%= t("home.subtitle").html_safe %></h3>
						<br><br>
					</div>
					
					<div class="col-lg-2">
						<%= t("home.caption1").html_safe %>
						<%= image_tag("arrow1.png", :class => "hidden-xs hidden-sm hidden-md") %>
					</div>
					<div class="col-lg-8">
						<%= image_tag("dashboard_preview.png", :class => "img-responsive") %>
					</div>
					<div class="col-lg-2">
						<br>
						<%= image_tag("arrow2.png", :class => "hidden-xs hidden-sm hidden-md") %>
						<%= t("home.caption2").html_safe %>
					</div>
				</div>
			</div> <!--/ .container -->
		</div><!--/ #headerwrap -->



		<section id="desc" name="desc"></section>
		<!-- INTRO WRAP -->
		<div id="intro">
			<div class="container">
				<div class="row centered">
					<h1><%= t "home.values" %></h1>
					<br>
					<br>
					<div class="col-lg-4">
						<%= image_tag("free.png") %>
						<%= t("home.value1").html_safe %>
					</div>
					<div class="col-lg-4">
						<%= image_tag("rocket.png") %>
						<%= t("home.value2").html_safe %>
					</div>
					<div class="col-lg-4">
						<%= image_tag("perfect.png") %>
						<%= t("home.value3").html_safe %>
					</div>
				</div>
				<br>
			</div> <!--/ .container -->
		</div><!--/ #introwrap -->
	
		<div id="showcase">
			<div class="container">
				<div class="row">
					<h1 class="centered"><%= t "home.included" %></h1>
					<br>
					<br>
					<br>
					<div class="col-lg-8 col-lg-offset-2">
						<div id="carousel-example-generic" class="carousel slide">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"></li>
							<li data-target="#carousel-example-generic" data-slide-to="4"></li>
						  </ol>
					
						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">
							<div class="item active">
								<div class="row">
									<div class="col-md-7">
										<%= image_tag("feature_1.png", :class => "feature_img") %>
									</div>
									<div class="col-md-5">
										<br>
										<%= t("home.feature1").html_safe %>
									</div>								
								</div>
								<br><br><br><br>
							</div>	
							<div class="item">
								<div class="row">
									<div class="col-md-4">
										<br><br>
										<%= t("home.feature2").html_safe %>
									</div>	
									<div class="col-md-8">
										<%= image_tag("feature_4.png") %>
									</div>
								</div>
								<br><br><br><br>
						  </div>														  
							<div class="item">
								<div class="row">
									<div class="col-md-8">
										<%= image_tag("feature_3.png") %>
									</div>
									<div class="col-md-4">
										<br><br>
										<%= t("home.feature3").html_safe %>
									</div>	
								</div>
								<br><br><br><br>
							</div>						  
							<div class="item">
								<div class="row">
									<div class="col-md-4">
										<br>
										<%= t("home.feature4").html_safe %>
									</div>	
									<div class="col-md-8">
										<%= image_tag("feature_2.png", :class => "feature_img") %>
									</div>							
								</div>
								<br><br><br><br>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-md-8">
										<%= image_tag("feature_5.png") %>
									</div>
									<div class="col-md-4">
										<br><br>
										<%= t("home.feature5").html_safe %>										
									</div>	
								</div>
								<br><br><br><br>
							</div>	
							</div>						  
						  </div>
						  </div>
					</div>
				</div>	
			</div><!-- /container -->
		</div>	
		<div id="c">
			<div class="container">
				<p>Copyright &copy; <%= Date.today.strftime("%Y") %> <strong> <%= link_to "Camouloc", root_url %> </strong></p>
			</div>
		</div>


		<!-- End of page -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<%= javascript_include_tag "smoothscroll" %>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script>
			smoothScroll.init();
			$('.carousel').carousel({
			  interval: 5000
			})
			
			$( document ).ready(function() {
				var language = "fr"
				if ($("#login_button").text() == "Login") {
					language = "en";
				}
				$("#current_language").attr("lang",language);
				$("#language_box").show();			
			});

		</script>
 	</body>
 </html>
