<!DOCTYPE html>
<html>
        <head>
                <title> MyColoc </title>
                <%= csrf_meta_tag %>
                <%= render 'layouts/stylesheets' %>
                <%= javascript_include_tag :defaults %>
        </head>
        <body>
                <div class="container">
                        <%= render 'layouts/header' %>
                        <section class="round">
                        <% flash.each do |key, value| %>
                                <div class="flash <%= key %>"><%= value %></div>
                        <% end %>
                        <aside>
                        <h1>Liens</h1>
                        <% if signed_in? %>
                                <%= link_to "Mon Profil", current_user %></br>
                                <%= link_to "Ma Colocation", Coloc.find(current_user.coloc_id) %></br>
                                <%= link_to "Mon Tableau de bord", tableau_bord_path(Coloc.find(current_user.coloc_id).id) %> </strong> </br>
                        <% if Coloc.find(current_user.coloc_id).users.size == 2 %>
                                <%= link_to "Nouvelle dépense", new_depense_path(@depense) %> </br>
                        <% elsif Coloc.find(current_user.coloc_id).users.size == 3 %>
                                <%= link_to "Nouvelle dépense", new_trois_depense_path(@depense) %> </br>
                        <% elsif Coloc.find(current_user.coloc_id).users.size == 4 %>
                                <%= link_to "Nouvelle dépense", new_quatre_depense_path(@depense) %> </br>
                        <% end %>

                <% end %> </br> </br>
                <h1> Palmarès </h1>
                <% @liste_coloc = Coloc.order(:nom).all %>
                <% @liste_coloc.each do |colocs|%>
                        <% if colocs.users.size > 1 %>
                                <%= link_to colocs.nom, colocs %> </br>
                        <% end %>
                <% end %>


                </aside>
                <article>
                <%= yield %>
                </article>
                </section>
                <%= render 'layouts/footer' %>
        </div>
</body>
</html>
