<!DOCTYPE html>
<html>
	<head>
		<title> MyColoc </title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section class="round">
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
			<aside>
			<h1>Liens</h1>
			<%= link_to "Utilisateurs", users_path %></br>
			<%= link_to "Colocations", colocs_path %></br>
			<p>C'est moi, Arthur ! à faire pour demain : envoyer des mails à chaque dépense, mettre dans la colonne de gauche des liens rapides</p>
			</aside>
			<article>
			<%= yield %>
			</article>
			<div class="colonnedroite">
				<h1> <%= link_to "Liste des colocations", colocs_path %> </h1>
				<% @liste_coloc = Coloc.all %>
				<% @liste_coloc.each do |colocs|%>
					<% if colocs.users.size > 0 %>
						<%= link_to colocs.nom, colocs %> </br>
					<% end %>
				<% end %>
			</div>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
