<!DOCTYPE html>
<html>
        <head>
                <!-- MOBIFY - DO NOT ALTER - PASTE IMMEDIATELY AFTER OPENING HEAD TAG -->
                <script type="text/javascript">/*<![CDATA[*/(function(a){function b(a,b){if(+a)return~a||(d.cookie=h+"=; path=/");j=d.createElement(e),k=d.getElementsByTagName(e)[0],j.src=a,b&&(j.onload=j.onerror=b),k.parentNode.insertBefore(j,k)}function c(){n.api||b(l.shift()||-1,c)}if(this.Mobify)return;var d=document,e="script",f="mobify",g="."+f+".com/",h=f+"-path",i=g+"un"+f+".js",j,k,l=[!1,1],m,n=this.Mobify={points:[+(new Date)],tagVersion:[6,1]},o=/((; )|#|&|^)mobify-path=([^&;]*)/g.exec(location.hash+"; "+d.cookie);o?(m=o[3])&&!+(m=o[2]&&sessionStorage[h]||m)&&(l=[!0,"//preview"+g+escape(m)]):(l=a()||l,l[0]&&l.push("//cdn"+i,"//files01"+i)),l.shift()?(d.write('<plaintext style="display:none;">'),setTimeout(c)):b(l[0])})(function(){if(/ip(hone|od|ad)|android|blackberry.*applewebkit/i.test(navigator.userAgent)){return[1,"//cdn.mobify.com/sites/mycoloc/production/mobify.js"]}})/*]]>*/</script>
                <!-- END MOBIFY -->

                <title> Camouloc </title>
                <%= csrf_meta_tag %>
                <%= render 'layouts/stylesheets' %>
                <%= javascript_include_tag "jquery-1.7.1.min.js", "highcharts", "exporting.js" %>
                <%= favicon_link_tag "/favicon.ico" %>
                <script type="text/javascript">

                        var _gaq = _gaq || [];
                        _gaq.push(['_setAccount', 'UA-32790951-1']);
                        _gaq.push(['_trackPageview']);

                        (function() {
                         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                         })();

</script>
         </head>
         <body>
                 <div id="fb-root"></div>
                 <script>(function(d, s, id) {
                         var js, fjs = d.getElementsByTagName(s)[0];
                         if (d.getElementById(id)) return;
                         js = d.createElement(s); js.id = id;
                         js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                         fjs.parentNode.insertBefore(js, fjs);
                         }(document, 'script', 'facebook-jssdk'));</script>
                 <div class="container">
                         <%= render 'layouts/header' %>
                         <section class="round">
                         <% flash.each do |key, value| %>
                                 <div class="flash <%= key %>"><%= value %></div>
                         <% end %>
                         <aside>
                         <% if signed_in? %>
                                 <h1>Menu</h1>
                                 <%= link_to "Mon Profil", current_user %></br>
                                 <%= link_to "Ma Colocation", Coloc.find(current_user.coloc_id) %></br>
                                 <%= link_to "Mon Tableau de bord", tableau_bord_path(Coloc.find(current_user.coloc_id).id) %> </strong> </br>
                         <% if Coloc.find(current_user.coloc_id).users.size == 2 %>
                                 <%= link_to "Nouvelle dépense", new_depense_path(@depense) %> </br>
                         <% elsif Coloc.find(current_user.coloc_id).users.size == 3 %>
                                 <%= link_to "Nouvelle dépense", new_trois_depense_path(@depense) %> </br>
                         <% elsif Coloc.find(current_user.coloc_id).users.size == 4 %>
                                 <%= link_to "Nouvelle dépense", new_quatre_depense_path(@depense) %> </br>
                         <% end %>
                         </br> </br>
                 <% end %> 
                 <h1> <%= link_to "Top Colocs", colocs_path %> </h1>
                 <% @liste_coloc = Coloc.where(:palm => 1).order(:ca).reverse %>
                 <% @liste_coloc.first(3).each do |colocs, i|%>
                         <% break if i == 3 %>
                         <% if colocs.users.size > 1 %>
                                 <div align="left"> <%= link_to colocs.nom, colocs %>            
                                         (<%="%0.2f" % colocs.ca %> €) </div>
                         <% end %>
                 <% end %> 

                 </br> </br>
                 <h1> Les Chiffres </h1>
                 Somme gérée : <strong><%= "%0.0f" % Coloc.sum(:ca) %> €. </strong> <br>
                 <strong> <%= User.count %> </strong> utilisateurs, <strong> <%= Coloc.count %> </strong> colocations. <br>
                 <strong> <%= Depense.count + TroisDepense.count + QuatreDepense.count %> </strong> dépenses. <br>
                 <br>

                 <h1> Réseaux </h1>
                 <div class="fb-like" data-href="https://www.facebook.com/Camouloc" data-send="true" data-layout="button_count" data-width="600" data-show-faces="true" data-font="arial"></div> <br>
      <a href="https://twitter.com/Camouloc" class="twitter-follow-button" data-show-count="false">Follow @Camouloc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                 <% if signed_in? and current_user.admin? %>
                         <h1> Admin </h1>
                         <%= mail_to User.all.map(&:email), "Mail Général", :subject => "[CAMOULOC] ??" %>
                 <% end %>

                 </aside>
                 <article>
                 <%= yield %>
                 </article>


                 </section>
                 <%= render 'layouts/footer' %>
         </div>
 </body>
</html>
