<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Camouloc </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<%= csrf_meta_tag %>
	<%= favicon_link_tag "/favicon.ico" %>
	<!-- Using CDN to speed up page load -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag "languages.min", "AdminLTE.min", "skin-blue.min", "custom-dashboard", "jquery.atwho.min", "select2.min", "dataTables.bootstrap.min"  %>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <%= javascript_include_tag "Chart.min", "validator.min", "dataTables.bootstrap.min" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>


    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

         <!-- Main Header -->
          <header class="main-header">

            <!-- Logo -->
            <a href="<%= url_for Coloc.find(current_user.coloc_id) %>" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>C</b></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>Camouloc</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
              </a>
              <!-- Navbar Right Menu -->
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
					<li class="dropdown messages-menu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								  <i class="fa fa-envelope-o"></i>
								  <span class="label label-danger">1</span>
								</a>
								<ul class="dropdown-menu">
								  <li class="header"><%= t "db.notifcaption" %></li>
								  <li class="header">
									<strong><i class="fa fa-envelope"></i> 
									<%= t("db.notifmessage").html_safe %> 
								  </li>
								</ul>
							  </li>
                  <!-- User Account Menu -->
                  <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!-- The user image in the navbar-->
                      <%= image_tag(current_user.image, :alt => "User image", :class => "user-image white-border") %>
                      <!-- hidden-xs hides the username on small devices so only the image appears. -->
                      <span class="hidden-xs"><%= current_user.nom.capitalize %></span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- The user image in the menu -->
                      <li class="user-header">
                        <%= image_tag(current_user.image, :alt => "User image", :class => "img-circle white-border-big") %>
                        <p>
                          <%= current_user.nom.capitalize %>
                          <small><%= t "db.membersince" %> <%= l current_user.created_at %> </small>
                        </p>
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <%= link_to t("db.profile"), current_user, :class => "btn btn-default btn-flat" %>
                        </div>
                        <div class="pull-right">
                          <%= link_to t("db.signout"), signout_path, :class => "btn btn-default btn-flat" %>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <!-- Control Sidebar Toggle Button -->
                  <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                  </li>
                </ul>
              </div>
            </nav>
          </header>
          <!-- Left side column. contains the logo and sidebar -->
          <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

              <!-- Sidebar user panel (optional) -->
              <div class="user-panel">
                <div class="pull-left image">
                  <%= image_tag(current_user.image, :alt => "User image", :class => "img-circle white-border") %>
                </div>
                <div class="pull-left info">
                  <p><%= current_user.nom.capitalize %></p>
                  <!-- Status -->
                  <a href="#" style="cursor:default"><i class="fa fa-circle text-success"></i> <%= t "db.online" %></a>
                </div>
              </div>

              <!-- Sidebar Menu -->
              <ul class="sidebar-menu">
                <li class="header">MENU</li>
                <!-- Optionally, you can add icons to the links -->
                <li id="flatshare_link"><%= link_to t("db.flatsharelink").html_safe, Coloc.find(current_user.coloc_id) %></li>
				<li id="user_link" ><%= link_to t("db.profilelink").html_safe, current_user %></li>
				<li id="expense_link" ><%= link_to t("db.expenseslink").html_safe, redirect_to_expense_screen_path(:id => current_user.coloc.id) %></li>
              </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
          </aside>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
			<div class="alert-wrapper">
                <% flash.each do |type, content| %>
                    <% if content.respond_to?('each') 
                        content.each do |item| %>
                            <%= render 'layouts/alert', 
                                type: type,
                                content: item %>
                        <% end %>
                    <% else %>
                        <%= render 'layouts/alert', 
                                type: type,
                                content: content %>
                    <% end %>

                <% end %>
			</div>

                <%= yield %>
          </div><!-- /.content-wrapper -->

		<!-- Modal -->
		<div class="modal fade modal-default" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= t "db.warningremovingexpense" %></h4>
			  </div>
			  <div class="modal-body">
				<%= t "db.warningremovingexpensecaption" %> <br><br>

				<div class="table-responsive">
					<table class="table no-margin">
					  <thead>
						<tr>
						  <th><%= t "db.author" %></th>
						  <th><%= t "db.reason" %></th>
						  <th><%= t "db.roommatesinvolved" %></th>
						  <th><%= t "db.value" %></th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><span id="expense_author_modal"></span></td>
						  <td><span id="expense_reason_modal"></span></td>
						  <td><span id="expense_roommatesinvolved_modal"></span></td>
						  <td><span id="expense_amount_modal"></span></td>
						</tr>
					  </tbody>
					</table>
				  </div>
				<span id="expense_id_modal" style="display:none"></span>
				<span id="expense_classDestroyUrl_modal" style="display:none"></span>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= t "db.close" %></button>
				<button type="button" class="btn btn-primary" onclick="deleteExpense();"><%= t "db.removeexpense" %></button>
			  </div>
			</div>
		  </div>
		</div>		  

		<!-- Modal -->
		<div class="modal fade modal-default" id="resetCountersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= t "db.sharingexpensesdistribution" %></h4>
			  </div>
			  <div class="modal-body">
				<%= t("db.sharingexpensesdistributioncaption").html_safe %>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= t "db.close" %></button>
				<button type="button" class="btn btn-primary" onclick="resetCounters();"><%= t "db.sharingexpensesdistributionbutton" %></button>
			  </div>
			</div>
		  </div>
		</div>	

		<!-- Modal -->
		<div class="modal fade modal-danger" id="deleteFlatshareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= t "db.deleteflatshare" %></h4>
			  </div>
			  <div class="modal-body">
				<strong><%= t("db.deleteflatsharecaption").html_safe %></strong><br><br>

				<%= form_for Coloc.find(current_user.coloc_id), :method => :delete, :html => { "data-toggle" => "validator", :id => "delete_flatshare_form" } do |f| %>
					<%= f.text_field :nom, :class => "form-control", :placeholder => "Flatshare name", :required => true %>
					<%= f.hidden_field :id, :value => current_user.coloc_id %>
				<% end %>
				<br><br>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><%= t "db.cancel" %></button>
				<button type="button" class="btn btn-outline" onclick="confirmFlatshareDeletion();"><%= t "db.confirmdeletion" %></button>
			  </div>
			</div>
		  </div>
		</div>	
		
          <!-- Main Footer -->
          <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
					  <%= link_to "<span class='lang-sm' lang='fr'></span>".html_safe, params.merge(:locale => "fr") %>
					&ndash;	 
					  <%= link_to "<span class='lang-sm' lang='en'></span>".html_safe, params.merge(:locale => "en") %>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; <%= Date.today.strftime("%Y") %> <a href="#">Camouloc</a></strong> 
          </footer>

          <!-- Control Sidebar -->
          <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                  <li><a href="#flatshare-settings" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                  <li><a href="#profile-settings" data-toggle="tab"><i class="fa fa-user"></i></a></li>
            </ul>   
            <!-- Tab panes -->
            <div class="tab-content">
              <!-- Home tab content -->
              <div class="tab-pane active" id="flatshare-settings">
               <h3 class="control-sidebar-heading"><%= t "db.flatsharesettings" %></h3>                
				<%= form_for Coloc.find(current_user.coloc_id), :html => { "data-toggle" => "validator", :id => "editform_flatshare" } do |f| %>
					<label class="control-sidebar-subheading">
					  <%= t "db.name" %>
					</label>
					<div class="form-group has-feedback">
			            <%= f.text_field :nom, :class => "form-control", :placeholder => "Flatshare name", :required => true, "data-minlength" => "3", 
							"data-remote" => "/verifycoloc?prev_name="+Coloc.find(current_user.coloc_id).nom, :name => "nom", "data-remote-error" => t("db.namealreadyexists") %>
						<span class="glyphicon glyphicon-home form-control-feedback"></span>
						<div class="help-block with-errors"></div>
					</div>		
				  <%= f.submit t("db.save"), :class => "btn btn-primary btn-block btn-flat"%>
				<% end %>
               <h3 class="control-sidebar-heading text-red"><%= t "db.dangerzone" %></h3>   
					<label class="control-sidebar-subheading">
					  <span class="text-red"><%= t "db.deletemyflatshare" %></span>
						<a href="#" class="text-red pull-right" data-toggle="modal" data-target="#deleteFlatshareModal"><i class='fa fa-trash-o'></i></a>
					</label>			   
              </div><!-- /.tab-pane -->
              <div class="tab-pane" id="profile-settings">
               <h3 class="control-sidebar-heading"><%= t "db.profilesettings" %></h3>
				<%= form_for current_user, :html => { "data-toggle" => "validator", :id => "editform_user" } do |f| %>
					<label class="control-sidebar-subheading">
					  <%= t "db.name" %>
					</label>
					<div class="form-group has-feedback">
						<%= f.text_field :nom, :class => "form-control", :placeholder => t("db.name"), "data-minlength" => "6", "required" => true %>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
						<div class="help-block with-errors"></div>
					</div>
					<label class="control-sidebar-subheading">
					  Email
					</label>
					<div class="form-group has-feedback">
						<%= f.email_field :email, :id => "edit_email_field", :class => "form-control", :placeholder => "Email", :required => true, "data-minlength" => "6",
							"data-remote" => "/verifyuser?prev_email="+current_user.email, :name => "email", "data-remote-error" => t("db.userexists") %>
						<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
						<div class="help-block with-errors"></div>
					</div>		
					<label class="control-sidebar-subheading">
					  <%= t "db.password" %>
					</label>
					<div class="form-group has-feedback">
						<%= f.password_field :password, :class => "form-control", :placeholder => t("db.password"), :required => true, "data-minlength" => "8" %>
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group has-feedback">
						<%= f.password_field :password_confirmation, :class => "form-control", :placeholder => t("db.retypepassword"), :required => true, "data-minlength" => "8" %>
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						<span class="help-block"><%= t "db.passwordminimum"%></span>
						<div class="help-block with-errors"></div>
					</div>			
				  <%= f.submit t("db.save"), :class => "btn btn-primary btn-block btn-flat"%>
				<% end %>
              </div><!-- /.tab-pane -->
            </div>
          </aside><!-- /.control-sidebar -->
          <!-- Add the sidebar's background. This div must be placed
               immediately after the control sidebar -->
          <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <%= javascript_include_tag "app.min" %>
		<script type="text/javascript">

			var populateRemoveModal = function(id, author, amount, reason, roommates_involved, classDestroyUrl) {
				console.log(author);
				$("#expense_id_modal").html(id);
				$("#expense_author_modal").html(author);
				$("#expense_amount_modal").html(amount);
				$("#expense_reason_modal").html(reason);
				$("#expense_roommatesinvolved_modal").html(roommates_involved);
				$("#expense_classDestroyUrl_modal").html(classDestroyUrl);
			};
			
			var deleteExpense = function() {				
				var id = $("#expense_id_modal").html();
				var classDestroyUrl = $("#expense_classDestroyUrl_modal").html();
				var redirectUrl = "/";
				$.ajax({
				  method: "DELETE",
				  url: classDestroyUrl
				})
			};
			
			var resetCounters = function() {				
				$.ajax({
				  method: "GET",
				  url: "<%= raw url_for reset_counters_path(:coloc_id => current_user.coloc_id) %>"
				})
			};
			
			$( document ).ready(function() {
				if (window.location.pathname.indexOf("colocs") > -1) {
					$("#flatshare_link").addClass("active");
				} else if (window.location.pathname.indexOf("users") > -1) {			
					$("#user_link").addClass("active");
				} else if (window.location.pathname.indexOf("penses") > -1) {
					$("#expense_link").addClass("active");
				}
				
				$('#editform_flatshare').validator();
				$('#editform_user').validator();
				$('#delete_flatshare_form').validator();
			});
			
			var confirmFlatshareDeletion = function() {
				$("#delete_flatshare_form").submit();
			}
		</script>
    </body>
</html>
